* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
  text-decoration: none !important;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  color: #171719;
  overflow: hidden;
  letter-spacing: 0.8px;
}

a {
  color: #171719;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  color: #1b7fd6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #171719;
  font-weight: 600;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

i,
em {
  font-style: normal;
}

img {
  max-width: 100%;
}

blockquote {
  position: relative;
  padding: 30px;
  background-color: #f0f1f5;
  border-radius: 10px;
}

blockquote span {
  display: block;
  font-size: 14px;
  margin-top: 20px;
}

blockquote span img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

@media screen and (max-width: 575px) {
  .owl-theme .owl-nav {
    display: none;
  }
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #171719;
  text-decoration: none;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: calc(50% - 30px);
  font-size: 40px;
  left: -20px;
  top: 50%;
  opacity: .5;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  font-size: 40px;
  right: calc(50% - 30px);
  right: -20px;
  top: 50%;
  opacity: .5;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.page-background {
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  bottom: calc(25% + 15px);
  background-color: transparent;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.scale {
  opacity: 1;
  z-index: 12;
  background-color: white;
  -webkit-transform: scale(50);
          transform: scale(50);
}

/* Buttom */
.btn-st {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 22px;
  border: none;
  border-radius: 30px;
  background-color: #171719;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-st:hover {
  color: white;
  -webkit-box-shadow: 0px 10px 15px rgba(26, 42, 65, 0.3);
          box-shadow: 0px 10px 15px rgba(26, 42, 65, 0.3);
  -webkit-transform: rotateX(25deg);
          transform: rotateX(25deg);
}

.btn-st:active {
  top: 0px;
  -webkit-box-shadow: 0px 0px 0px rgba(26, 42, 65, 0);
          box-shadow: 0px 0px 0px rgba(26, 42, 65, 0);
}

.btn-st:focus {
  color: white;
}

/* ---------- Margin & Padding --------- */
.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

/* Custom Margin Bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.m-0 {
  margin: 0px !important;
}

/* Custom Padding top */
.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

/* Custom Padding top */
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.p-0 {
  padding: 0 !important;
}

/* ------------------------------
		2. Section Css
------------------------------ */
.section {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  display: none;
  z-index: 50;
}

.section .header-page {
  text-align: center;
}

.section .header-page .icon-page {
  float: left;
  margin: 10px;
  color: #171719;
  font-size: 25px;
}

.section .header-page h2 {
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.section .header-page .close-page {
  float: right;
  margin: 10px;
  cursor: pointer;
  color: #171719;
  font-size: inherit;
  z-index: 10;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.section .header-page .close-page img {
  height: 22px;
  top: 0;
  position: relative;
}

.section .header-page .close-page:hover {
  color: rgba(45, 45, 45, 0.7);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section .header-box {
  text-align: center;
}

.section .header-box h3 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section .box {
  position: relative;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px #ebebeb;
          box-shadow: 0 0 30px #ebebeb;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section .box:hover {
  -webkit-transform: translateY(-3px) scale(1.01);
          transform: translateY(-3px) scale(1.01);
}

.section .service.box {
  height: calc(100% - 30px);
}

/* ------------------------------
		3. Menu Css
------------------------------ */
.menu .but-menu,
.menu .menu-item {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 25%;
  left: calc(50% - 40px);
  cursor: pointer;
  border-radius: 50%;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .but-menu {
  width: 80px;
  height: 80px;
  z-index: 5;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  /*         &:after {
            content: '';
            position: absolute;
            top: 20px;
            left: 20px;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            z-index: -1;
            animation: point-bounce 1.5s infinite;
        } */
}

.menu .menu-item {
  width: 60px;
  height: 60px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu-item img {
  height: 23px;
}

.menu .but-menu .line {
  position: absolute;
  width: 28px;
  height: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #171719;
  border-radius: 10px;
  -webkit-transition: background 0.3s ease, opacity 0.3s ease, top 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, opacity 0.3s ease, top 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease, opacity 0.3s ease, top 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease, opacity 0.3s ease, top 0.3s ease, -webkit-transform 0.3s ease;
}

.menu .but-menu .line-top {
  top: -20px;
}

.menu .but-menu .line-bottom {
  top: 20px;
}

.menu .menu-toggle .line-top {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu .menu-toggle .line-middle {
  opacity: 0;
}

.menu .menu-toggle .line-bottom {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu .menu-item i {
  width: 60px;
  height: 60px;
  color: #171719;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  border-radius: 50%;
}

.menu .but-menu:hover,
.menu .menu-item:hover {
  background: #dfe2e9;
}

.menu-toggle {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: bounce 1s ease-in-out;
          animation: bounce 1s ease-in-out;
}

.about-toggle {
  -webkit-transform: translate3d(0px, -85px, 0);
          transform: translate3d(0px, -85px, 0);
}

.resume-toggle {
  -webkit-transform: translate3d(85px, -30px, 0);
          transform: translate3d(85px, -30px, 0);
}

.portfolio-toggle {
  -webkit-transform: translate3d(60px, 65px, 0);
          transform: translate3d(60px, 65px, 0);
}

.telegram-toggle {
  -webkit-transform: translate3d(-60px, 65px, 0);
          transform: translate3d(-60px, 65px, 0);
}

.contact-toggle {
  -webkit-transform: translate3d(-85px, -30px, 0);
          transform: translate3d(-85px, -30px, 0);
}

.menu .hide {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* ---------------------------------
		4. Home Section 
--------------------------------- */
.home {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #171719;
}

.home .banner {
  position: absolute;
  top: 25%;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  color: white;
}

.home .banner .tech {
  color: #cad1d6;
  font-size: 13px;
  text-align: center;
  margin-top: 2rem;
}

.home .banner .tech span {
  color: #4fc08d;
}

.home .banner .banner__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -20px;
  margin-top: 1rem;
}

.home .banner .banner__images .image_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  width: 3.5rem;
  margin: 0 10px;
}

.home .banner .banner__images .image_item img {
  height: 1.5rem;
  margin-bottom: 5px;
}

.home .banner .banner__images .image_item p {
  font-size: 11px;
  color: #cad1d6;
}

.home .banner h1 {
  margin-bottom: 15px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.home .banner .cd-headline {
  font-size: 18px;
  text-align: center;
  color: #cad1d6;
  margin-top: 2rem;
}

.home .banner .cd-headline .cd-words-wrapper {
  text-align: center;
  width: 25rem !important;
  max-width: 100%;
}

.home .banner .cd-headline .cd-words-wrapper b {
  width: 25rem !important;
}

.home .social {
  position: absolute;
  width: 40px;
  height: 120px;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.home .social ul li {
  display: inline-block;
}

.home .social ul li i {
  color: white;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home .social ul li i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* Social */
/* ---------------------------------
		5.	About Section
--------------------------------- */
.about {
  background-color: white;
}

.about .info .photo img {
  border-radius: 100%;
}

.about .info .loc {
  font-size: 12px;
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about .info p {
  font-size: 14px;
  line-height: 24px;
}

.about .info .btn-about {
  position: absolute;
  top: 30px;
  right: 35px;
}

.about .video {
  margin: 32px 0;
}

.about .video img {
  border-radius: 10px;
}

.about .video-play {
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about .video-play:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -7px;
  border-style: solid;
  border-color: transparent transparent transparent #171719;
  border-width: 7px 0 7px 10px;
}

.about .video-play:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: point-bounce 1.5s infinite;
          animation: point-bounce 1.5s infinite;
  z-index: -1;
}

.about .video-play:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about .service {
  text-align: center;
}

.about .service i {
  width: 65px;
  height: 65px;
  font-size: 25px;
  line-height: 65px;
  color: #171719;
  background-color: white;
  border-radius: 50%;
}

.about .service h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about .owl-item {
  padding: 20px 0;
}

.about .testimonial-item {
  padding: 30px;
  margin: 0 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px #ebebeb;
          box-shadow: 0 0 30px #ebebeb;
  border-radius: 10px;
  min-height: 17rem;
  height: auto;
}

.about .testimonial-item:before {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 25px;
  right: 35px;
  color: #171719;
  font-size: 20px;
  font-weight: 900;
}

.about .testimonial-item img {
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
}

.about .testimonial-item .content {
  padding-top: 15px;
}

.about .testimonial-item .content p {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px;
}

.about .price {
  text-align: center;
  margin-bottom: 40px;
}

.about .price .head-price:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background: transparent -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#2b2d2f), to(transparent)) repeat scroll 0 0;
  background: transparent linear-gradient(to right, transparent, #2b2d2f, transparent) repeat scroll 0 0;
}

.about .price .head-price i {
  width: 70px;
  height: 70px;
  color: #171719;
  font-size: 32px;
  background-color: white;
  line-height: 70px;
  border-radius: 50%;
}

.about .price .head-price h4 {
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.about .price .body-price .price-plan {
  padding: 25px 0;
}

.about .price .body-price .price-plan .number {
  font-size: 22px;
  font-weight: 500;
}

.about .price .body-price .price-plan .currency {
  position: relative;
  bottom: 10px;
  font-size: 15px;
}

.about .price .body-price .price-plan .period {
  position: relative;
  bottom: 0;
  font-size: 14px;
}

.about .price .list-price ul li {
  padding-bottom: 10px;
}

.about .price .list-price ul li.disable {
  text-decoration: line-through !important;
}

.about .price .footer-price {
  padding-top: 15px;
}

.about .work-process .ltr {
  text-align: right;
}

.about .work-process .rtl {
  text-align: left;
}

.about .work-process .wp-step {
  margin: 0;
  color: #777;
  font-size: 25px;
  line-height: 50px;
}

.about .work-process h4 {
  font-weight: 700;
  margin-bottom: 15px;
}

.about .work-process .single-wp + .single-wp {
  padding-top: 35px;
}

.about .work-process .wp-circle {
  position: relative;
  width: 100%;
  padding: 80px 0;
  margin-top: 12px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.about .work-process .wp-circle:before {
  content: "";
  position: absolute;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  top: -24px;
  left: -24px;
  border: 1px solid white;
  border-radius: 50%;
}

.about .work-process .wp-circle h4 {
  font-size: 40px;
  text-transform: uppercase;
}

.about .work-process .dots {
  position: absolute;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background-color: #171719;
}

.about .work-process .dots:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #171719;
  border-radius: 50%;
  -webkit-animation: point-bounce 2s infinite;
          animation: point-bounce 2s infinite;
}

.about .work-process .dots.top-l, .about .work-process .dots.bottom-l {
  left: 0px;
}

.about .work-process .dots.top-l, .about .work-process .dots.top-r {
  top: 45px;
}

.about .work-process .dots.bottom-l, .about .work-process .dots.bottom-r {
  bottom: 45px;
}

.about .work-process .dots.top-r, .about .work-process .dots.bottom-r {
  right: 0px;
}

.about .work-process .process-4.single-wp {
  padding-top: 16px !important;
}

/* ---------------------------------
		6. Resume Section 
--------------------------------- */
.resume {
  background-color: white;
}

.resume .experience .item {
  padding-top: 15px;
  padding-left: 15px;
}

.resume .experience .bord-l {
  border-left: 1px solid #171719;
}

.resume .experience .main p {
  color: #777;
  font-size: 12px;
}

.resume .experience .main p i {
  font-size: 13px;
  margin-right: 5px;
}

.resume .experience .main h4 {
  position: relative;
  line-height: 15px;
  margin-bottom: 15px;
}

.resume .experience .main h4:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -23px;
  background-color: white;
  border: 2px solid #171719;
  border-radius: 50%;
  z-index: 1;
}

.resume .experience .main h4:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 2px;
  left: -21px;
  background-color: #171719;
  border-radius: 50%;
  -webkit-animation: point-bounce 2s infinite;
          animation: point-bounce 2s infinite;
}

.resume .experience .item:hover h4:before {
  background-color: #171719;
}

.resume .skill-item {
  padding: 0 20px;
}

.resume .skill-item .progress-title {
  font-size: 17px;
  margin-bottom: 10px;
}

.resume .skill-item .progress {
  height: 8px;
  background-color: white;
  margin-bottom: 30px;
  overflow: visible;
}

.resume .skill-item .progress .progress-bar {
  position: relative;
  background-color: #171719;
  border-radius: 10px;
}

.resume .skill-item .progress .progress-bar:after {
  content: "";
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 6px;
  display: block;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #171719;
}

.resume .skill-item .progress .progress-value {
  position: absolute;
  top: -30px;
  right: 0;
  color: #171719;
  font-size: 14px;
  font-weight: 600;
}

/* ---------------------------------
		7. Portfolio Section 
--------------------------------- */
.portfolio {
  background-color: white;
}

.portfolio .portfolio_sub {
  margin-top: 2rem;
}

.portfolio .portfolio-filter ul {
  display: inline-block;
  margin: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(26, 42, 65, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(26, 42, 65, 0.1);
}

.portfolio .portfolio-filter ul li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-filter ul li.active {
  color: white;
  background-color: #171719;
  border-radius: 50px;
}

.portfolio .portfolio-items .item figure {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px #8ba1a7;
          box-shadow: 0 0 20px #8ba1a7;
}

.portfolio .portfolio-items .item figure img {
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-items .item figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  color: white;
}

.portfolio .portfolio-items .item figure figcaption a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.portfolio .portfolio-items .item figure figcaption h3 {
  opacity: 0;
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.portfolio .portfolio-items .item figure figcaption p {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  font-size: 14px;
  padding-left: 15px;
  opacity: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-items .item figure figcaption p:before {
  content: "\f292";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: 900;
}

.portfolio .portfolio-items .item figure figcaption i {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  font-size: 24px;
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-items .item figure:hover {
  background-color: #171719;
}

.portfolio .portfolio-items .item figure:hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio .portfolio-items .item figure:hover h3 {
  opacity: 1;
}

.portfolio .portfolio-items .item figure:hover p,
.portfolio .portfolio-items .item figure:hover i {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.porfolio_item {
  padding: 5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #606b74;
}

.porfolio_item .porfolio_item__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.porfolio_item .porfolio_item__links a {
  margin: 1rem 2rem;
  font-size: 1rem;
  color: white;
  border-bottom: 1px dashed white;
}

.porfolio_item .gallery {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.porfolio_item .gallery a img {
  width: 100%;
  height: 100%;
}

/* ---------------------------------
		12. Tooltip Css
--------------------------------- */
[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s;
  transition: transform 0.3s ease, opacity 0.3s, -webkit-transform 0.3s ease;
  content: attr(data-tooltip);
  font: normal 10px "Museo-Regular", sans-serif;
  background-color: #3c3b42;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
}

[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 0.85;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

[data-tooltip][data-position="top"]:after {
  bottom: 100%;
  margin-bottom: 10px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

[data-tooltip][data-position="top"]:hover:after {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

[data-tooltip][data-position="left"]:after {
  right: 100%;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

[data-tooltip][data-position="left"]:hover:after {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

[data-tooltip][data-position="right"]:after {
  left: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

[data-tooltip][data-position="right"]:hover:after {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

[data-tooltip][data-position="bottom"]:after {
  top: 100%;
  left: -120%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

[data-tooltip][data-position="bottom"]:hover:after {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* ---------------------------------
	13. Mobile Responsive Css
--------------------------------- */
@media screen and (max-height: 730px) {
  .home .banner {
    top: 22%;
  }
  .home .banner h1 {
    font-size: 36px;
  }
  .home .banner .cd-headline {
    font-size: 16px;
  }
  .home .banner .tech {
    font-size: 10px;
    margin-top: 2rem;
  }
}

@media screen and (max-height: 575px) {
  .home .copy {
    display: none;
  }
  .menu .but-menu {
    width: 70px;
    height: 70px;
  }
  .menu .but-menu:after {
    display: none;
  }
  .menu .menu-item {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  .menu .menu-item i {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }
  .menu .but-menu,
  .menu .menu-item {
    bottom: 17%;
  }
  .page-background {
    bottom: calc(16% + 15px);
  }
  .home .banner {
    top: 15%;
  }
  .about-toggle {
    -webkit-transform: translate3d(0px, -70px, 0);
            transform: translate3d(0px, -70px, 0);
  }
  .resume-toggle {
    -webkit-transform: translate3d(70px, -15px, 0);
            transform: translate3d(70px, -15px, 0);
  }
  .portfolio-toggle {
    -webkit-transform: translate3d(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
  }
  .telegram-toggle {
    -webkit-transform: translate3d(-50px, 50px, 0);
            transform: translate3d(-50px, 50px, 0);
  }
  .contact-toggle {
    -webkit-transform: translate3d(-70px, -15px, 0);
            transform: translate3d(-70px, -15px, 0);
  }
}

@media screen and (max-height: 425px) {
  .home .banner {
    top: 5%;
  }
  .menu .but-menu,
  .menu .menu-item {
    bottom: 15%;
  }
  .page-background {
    bottom: calc(15% + 10px);
  }
}

@media screen and (max-width: 991px) {
  .home .banner h1 {
    font-size: 60px;
  }
  .home .banner p {
    font-size: 25px;
  }
  .section .mob-box-mt {
    margin-top: 100px !important;
  }
  .single-wp {
    padding: 30px !important;
  }
  .single-wp:nth-child(2n) {
    text-align: left;
    padding-right: 0 !important;
  }
  .single-wp.process-1, .single-wp.process-3 {
    border-right: 1px solid #171719;
  }
  .single-wp.process-1, .single-wp.process-2 {
    border-bottom: 1px solid #171719;
  }
  .single-wp:nth-child(2n + 1) {
    text-align: right;
    padding-left: 0 !important;
  }
  .hidden-sm {
    display: none;
  }
  .width-sm {
    width: 50%;
    float: left;
  }
  .form-wrap {
    margin-bottom: 100px;
  }
  .blog-page a.close-blog {
    right: 30px;
  }
  .blog-page .blog-heading {
    margin-top: -100px;
  }
}

@media screen and (max-width: 768px) {
  .home .banner h1 {
    font-size: 50px;
  }
  .home .banner p {
    font-size: 20px;
  }
  .section .box {
    padding: 20px;
  }
  .section .mob-mt {
    margin-top: 130px !important;
  }
  .section .header-page {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 8px 15px;
    background-color: white;
    -webkit-box-shadow: 0 1px 10px 0 rgba(26, 42, 65, 0.2);
            box-shadow: 0 1px 10px 0 rgba(26, 42, 65, 0.2);
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .header-page h2 {
    font-size: 20px;
  }
  .section .header-page h2:after, .section .header-page h2:before {
    display: none;
  }
  .section .header-page .close-page {
    position: absolute;
    right: 15px;
    margin: 5px;
    font-size: inherit;
  }
  .section .header-page .close-page img {
    top: 0;
  }
  .about .info .btn-about {
    position: relative;
    top: 10px;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .resume .skill-item {
    padding: 0;
  }
  .blog .blog-item .meta .cat {
    float: left;
  }
  .contact .info-item .icon {
    width: 35px;
    height: 35px;
    font-size: 17px;
  }
  .contact .info-item p {
    font-size: 13px;
  }
  .blog-page .blog-heading {
    margin-top: 0;
  }
  .portfolio .portfolio_row {
    margin-top: 40px !important;
  }
  .portfolio .portfolio_sub {
    margin-top: 7rem;
    text-align: center;
  }
  .portfolio .portfolio-filter {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .home .banner h1 {
    font-size: 40px;
  }
  .home .banner p {
    font-size: 17px;
  }
  .home .banner .cd-headline {
    font-size: 14px;
    font-weight: 300;
  }
  .home .banner .cd-headline .cd-words-wrapper b {
    width: 100% !important;
  }
  .home .banner .tech {
    font-size: 11px;
  }
  .home .social {
    top: unset;
    bottom: 0;
    right: 5px;
    font-size: 14px;
  }
  .home .copy {
    display: none;
  }
  .portfolio .portfolio-items {
    margin-top: 50px !important;
  }
  .section .header-box h3 {
    font-size: 23px;
  }
  .about .info .photo img {
    display: block;
    width: 50%;
    margin: 0 auto 30px;
  }
  .about .testimonial-item:before {
    top: 15px;
    right: 30px;
    font-size: 15px;
  }
  .about .testimonial-item img {
    width: 70px;
  }
  .about .testimonial-item .content {
    padding-top: 10px;
  }
  .portfolio .portfolio-filter ul {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .width-sm {
    width: 100%;
  }
  .single-wp.process-1, .single-wp.process-3 {
    border-bottom: none;
    border-right: 1px solid #171719;
  }
  .single-wp.process-2, .single-wp.process-4 {
    border-bottom: none;
    border-left: 1px solid #171719;
  }
  .blog .blog-item .meta .cat {
    float: right;
  }
  .blog-page a.close-blog {
    top: 10px;
    right: 10px;
    font-size: 25px;
  }
  .blog-page .blog-heading h2 {
    font-size: 30px;
  }
  .blog-page .blog-heading span {
    font-size: 13px;
  }
  .blog-page .blog-comments {
    margin: 0;
  }
  .blog-page .blog-comments ul li .comment-text a {
    margin: 0;
  }
  .blog-page .blog-comments ul li .comment-text p {
    font-size: 13px;
  }
  .blog-page .blog-comments ul li ul {
    margin-left: 30px;
  }
  .menu .but-menu,
  .menu .menu-item {
    bottom: 11%;
  }
  .page-background {
    bottom: calc(16% + 15px);
  }
  .home .banner {
    top: 15%;
  }
}

/* ---------------------------------
		  Animations Css
--------------------------------- */
/* Bounce Animation */
@-webkit-keyframes bounce {
  10%,
  15% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  30%,
  45% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  10%,
  15% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  30%,
  45% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Point Bounce  Animation */
@-webkit-keyframes point-bounce {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

@keyframes point-bounce {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

/* Spinner Animation */
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/* Letters Animation */
@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    opacity: 0;
  }
  25%,
  50% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    opacity: 0;
  }
  25%,
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */