html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

body h1 {
  font-size: 2.6rem;
}

body h2 {
  font-size: 2.25rem;
}

body h3 {
  font-size: 1.75rem;
}

body h4 {
  font-size: 1.5rem;
}

body h5 {
  font-size: 1.25rem;
}

body h6 {
  font-size: 1rem;
}

body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

body ul {
  -webkit-padding-start: 0px;
}

body ul li {
  list-style: none;
}

body a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

body a:hover {
  text-decoration: none;
}

body span {
  font-family: 'Open Sans', sans-serif;
}

.main_button {
  background-color: #ff9000;
  padding: 0.7rem 2rem;
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: .2s;
  transition: .2s;
}

.main_button:hover {
  background-color: #ec7f00;
  color: white;
}

/*main*/
.main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
  background-color: #292d37;
  color: white;
  min-height: 70vh;
}

.main_section .row {
  background-image: url(../img/art.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.main_section .row .subcaption {
  font-weight: normal;
  width: 70%;
}

.main_section .row .maincaption {
  width: 70%;
  margin: 3rem 0;
  font-size: 3rem;
  color: #e68d1a;
}

.main_section .row .bonuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_section .row .bonuses .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 2rem;
}

.main_section .row .bonuses .item img {
  padding: 1rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
}

.main_section .row .bonuses .item .item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_section .row .bonuses .item .item_text h5 {
  margin: 0.25rem 0;
}

.main_section .row .bonuses .item .item_text .bonuses_text {
  margin: 0.25rem 0;
}

.main_section .row .s1_buttons {
  margin: 2.5rem 0;
  margin-bottom: 1rem;
}

.main_section .row .s1_buttons .novisible_button {
  padding: 0.7rem 2rem;
  text-decoration: underline;
  color: #898d95;
  font-style: italic;
  font-size: 0.9rem;
}

.main_section .row .s1_buttons .novisible_button:hover {
  text-decoration: underline;
  color: #898d95;
}

.section2, .section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0;
  color: #292d37;
  text-align: center;
}

.section2 h2, .section4 h2 {
  font-size: 2.25rem;
  border-bottom: 5px solid #ff9000;
  margin-bottom: 2rem;
}

.section2 p, .section4 p {
  font-size: 1.25rem;
}

.section2 h6, .section4 h6 {
  font-size: 1.5rem;
}

.section2 .s1_buttons, .section4 .s1_buttons {
  margin: 2rem 0;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0;
  color: #292d37;
}

.section3 .sec3_img {
  max-width: 100%;
  margin: 0 1.5rem;
}

.section3 .d-flex {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section3 .checked_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50rem;
}

.section3 .checked_items img {
  margin-right: 1rem;
  height: 1.5rem;
}

.section3 .checked_items h6 {
  font-weight: 600;
}

.section_social {
  margin: 3rem 0;
}

.section_social .d-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_social .d-flex img {
  height: 2rem;
}

.section_social .d-flex a {
  margin: 1rem 2rem;
}

.section5 {
  margin-bottom: 4rem;
}

.section5 .jumbotron {
  background: url(../img/bg_offer_def.jpg);
  background-size: 200%;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 2rem 4rem;
  color: white;
}

.section5 .jumbotron h1 {
  font-weight: 600;
}

.section5 .jumbotron p {
  font-weight: normal;
}

.section5 .s1_buttons {
  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
}
/*# sourceMappingURL=main.css.map */