@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
	font-family: "Diodrum-Light", sans-serif;
	src: url(../fonts/DiodrumCyrillic-Light.woff2) format("woff2"),
     url(../fonts/DiodrumCyrillic-Light.ttf) format("opentype");
}
@font-face {
	font-family: "Diodrum-Medium", sans-serif;
	src: url(../fonts/DiodrumCyrillic-Medium.woff2) format("woff2"),
     url(../fonts/DiodrumCyrillic-Medium.ttf) format("opentype");
}
@font-face {
	font-family: "Diodrum-SemiBold", sans-serif;
	src: url(../fonts/DiodrumCyrillic-Semibold.woff2) format("woff2"),
     url(../fonts/DiodrumCyrillic-Semibold.ttf) format("opentype");
}
@font-face {
	font-family: "Helvetica", sans-serif;
	src: url(../fonts/HelveticaRegular.woff) format("woff"),
     url(../fonts/HelveticaRegular.ttf) format("opentype");
}



$darkblue: #2D2971;
$orange: #FF671F;

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-family: "Diodrum-SemiBold", sans-serif;
	}
	h1 {
		font-size: 4.375rem;
	}
	h2 {
		font-size: 4.063rem;
		color: $darkblue;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
	p {
		font-family: "Diodrum-Light", sans-serif;
		font-size: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	ul {
		-webkit-padding-start: 0px;
		li {
			list-style: none;
		}
	}
	a {
		text-decoration: none;
		font-family: "Helvetica", sans-serif;
		font-weight: bold;
		&:hover {
			text-decoration: none;
		}
	}
	span {
		font-family: "Diodrum-Light", sans-serif;
	}
}


.container {
	width: 1140px; //  960px; 720px 540
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.text_gradient {
	background: linear-gradient(93.49deg, #F16500 12.04%, #FBE12B 119.49%);
	background-clip: text;
	-webkit-background-clip: text; /* Обрезаем фон по тексту */
	-webkit-text-fill-color: transparent; /* Прозрачный текст */
}

.btn {
	padding: 17px 0;
	width: 190px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #021D65;
    color: white;
	transition: 0.4s;
	display: inline-block;
	&:hover {
		filter: brightness(115%);
	}
	&:focus {
		outline: none;
	}
}




section.help_us {
	margin-top: 3.8rem;
	.help_us__cover {
		position: relative;
		background-image: url(../img/section1.png);
		background-position: 50% 80%;
		background-size: cover;
		min-height: 38.5rem;

		.small_pic {
			position: absolute;
			bottom: -4rem;
			left: 50%;
			height: 260px;
		}
	}
	.help_us__text {
		position: absolute;
		left: 10rem;
		top: 6.5rem;
		h1 {
			width: 45rem;
			max-width: 100%;
		}
		.btn {
			margin-top: 4rem;
		}
	}
}


section.symptomaty {
	padding: 7rem 0;
	h2 {
		text-align: center;
		margin-bottom: 4rem;
	}
	.symptomaty__cont {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}
	.symptomaty__item {
		margin: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-basis: 25%;
		img {
			height: 8rem;
		}
		h6 {
			font-family: "Roboto", sans-serif;
			font-weight: bolder;
		}
	}
	.symptomaty__item:nth-child(1), .symptomaty__item:nth-child(2)  {
		flex-basis: 30%;
	}
}


section.find_medicine {
	position: relative;
	.find_medicine__cover {
		position: relative;
		background-image: url(../img/section3.png);
		background-position: center;
		background-size: cover;
		min-height: 38.5rem;
	}
	.find_medicine__text {
		position: absolute;
		left: 10rem;
		width: 45rem;
		max-width: 100%;
		top: 6.5rem;
		p {
			margin-top: 2rem;
			margin-bottom: 3rem;
			line-height: 22px;
			font-family: "Helvetica", sans-serif;
		}
	}
}

section.exclusive {
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-position: center bottom;
    background-size: cover;
	background-image: url(../img/orange_layer.svg);
	background-repeat: no-repeat;
	h2 {
		text-align: center;
	}
	.exclusive__cont {
		display: flex;
		justify-content: center;
		align-items: stretch;
		width: 100%;
		margin: 3rem 0;
		.exclusive__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-basis: 38%;
    		margin: 2rem;
			p {
				text-align: center;
				margin-bottom: 2rem;
				font-family: "Helvetica", sans-serif;
			}
			h4 {
				color: $darkblue;
			}
			.btn {
				margin-top: auto;
			}
		}
	}
}

section.reviews {
	padding-top: 7rem;
	padding-bottom: 2rem;
	h2 {
		text-align: center;
		font-size: 45px;
	}
	.review_cont {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.review_item {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-basis: 40%;
			margin: 2rem;
			.review_item__image {
				background-position: center;
				border-radius: 50%;
				margin-top: 1rem;
				height: 9rem;
				width: 9rem;
				margin-right: 1rem;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.review_item__text {
				max-width: calc(100% - 10rem);
				h4 {
					color: $darkblue;
					margin-bottom: 5px;
				}
				h6 {
					margin-top: 0;
				}
				p {
					line-height: 25px;
				}
			}
		}
	}
}

section.video {
	padding: 2rem 1rem;
    max-width: 90%;
    margin: 0 auto;
	.video__content {
		background-size: cover;
		background-position: center;
		width: 1280px;
		height: 720px;
		margin: 0 auto;
		max-width: 100%;
		position: relative;
		.video__button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			img {
				height: 11rem;
			}
		}
	}
}

section.faq {
	.faq__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			height: 12rem;
		}
		h2 {
			color: $darkblue;
		}
	}
	.faq__content {
		.faq__question {
			border-bottom: 1px solid $orange;
			padding: 0.5rem 0;
			cursor: pointer;
			display: flex;
			align-items: center;
			img {
				height: 12px;
				margin-right: 2rem;
				transition: .3s;
			}
			h5 {
				color: $orange;
			}
			.arrow_up {
				transform: rotate(180deg);
			}
		}
		.faq__answer {
			display: none;
			margin-left: 3rem;
			p {
				margin: 1rem 0;
				line-height: 24px;
			}
		}
	}
}

section.self-medication {
	padding-top: 5rem;
	padding-bottom: 2rem;
	ol {
		padding-left: 10px;
	}
	li, p {
		font-size: 12px;
		font-family: "Roboto";
		opacity: 0.5;
		padding: 5px 0;
	}
}

.gradient_line {
	display: none;
}

sup {
	opacity: .5;
}
sup.mobile {
	display: none;
	opacity: .5;
    -webkit-text-fill-color: #000;
    font-size: 12px;
}


@media only screen and (max-width: 575px) {
	body h1,body h2 {
		font-size: 30px;
	}
	sup:nth-child(1) {
		display: initial;
	}
	.gradient_line {
		background: linear-gradient(93.49deg, #F16500 12.04%, #FBE12B 119.49%);
		height: 39px;
		width: 100%;
		display: block;
	}
	section.help_us {
		margin-top: 30px;
		.help_us__cover {
			position: relative;
			background-position: 96% 99%;
			background-size: 180%;
			min-height: 350px;
			background-repeat: no-repeat;
			.small_pic {
				position: absolute;
				bottom: 0rem;
				left: 50px;
				height: 160px;
			}
		}
		.help_us__text {
			position: relative;
			padding: 0 1rem;
			left: 0;
			top: 0;
			.btn {
				margin-top: 1rem;
			}
		}
	}

	section.symptomaty {
		padding: 3rem 0;
		h2 {
			margin-bottom: 1rem;
			text-align: left;
			margin-left: 1rem;
			margin-right: 1rem;
		}
		.symptomaty__item {
			margin: 1rem;
			justify-content: stretch;
			img {
				height: 6rem;
			}
			h6 {
				text-align: center;
			}
		}
		.symptomaty__item:nth-child(1), .symptomaty__item:nth-child(2) {
			flex-basis: 30%;
		}
	}


	section.find_medicine {
		.find_medicine__cover {
			position: relative;
			background-position: 96% 99%;
			background-size: 180%;
			min-height: 350px;
			background-repeat: no-repeat;
		}
		.find_medicine__text {
			position: relative;
			padding: 0 1rem;
			left: 0;
			top: 0;
			p {
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
			.btn {
				margin-top: 1rem;
			}
		}
	}

	section.exclusive {
		background: white;
		padding-top: 4rem;
		padding-bottom: 0;
		h2 {
			text-align: left;
			margin-left: 1rem;
			margin-right: 1rem;
		}
		.exclusive__cont {
			flex-direction: column;
		}
	}

	section.reviews {
		padding-top: 0;
		.review_cont .review_item {
			flex-basis: 100%;
		}
		.review_cont .review_item--off {
			display: none;
		}
	}
	section.video {
		max-width: 100%;
		.video__content {
		    width: 100%;
			height: 300px;
			.video__button img {
				height: 5rem;
			}
		}
	}

	section.faq {
		padding: 1rem;
		.faq__heading {
			img {
				height: 6rem;
			}
		}
	}

	section.self-medication {
		padding: 2rem 1rem;
		padding-top: 3rem;
		img {
			max-width: 100%;
		}
	}
}


@media only screen and (max-width: 440px) {
	section.help_us .help_us__cover .small_pic {
		height: 126px;
	}
	section.find_medicine .find_medicine__cover {
		min-height: 255px;
	}
	section.help_us .help_us__cover {
		min-height: 275px;
	}
	section.find_medicine .find_medicine__text {
		max-width: 90%;
	}
	section.video .video__content {
		height: 200px;
	}
	section.symptomaty .symptomaty__item {
		flex-basis: 77px;
		img {
			height: 4rem;
		} 
		h6 {
			font-size: 0.8rem;
		}
	}
}