@charset "UTF-8";
@font-face {
  font-family: 'Simple-Line-Icons';
  /* Гарнитура шрифта */
  src: url(/assets/fonts/Simple-Line-Icons.ttf);
  /* Путь к файлу со шрифтом */
}

#header_account .menu__item--1,
#header_account .menu__item--2,
#header_account .menu__item--3 {
  position: relative;
  width: 3rem;
  height: 4px;
  margin-bottom: 6px;
  background-color: #a2d536;
  border-radius: 3px;
}

#header_account .menuburger {
  -webkit-transition: -webkit-transform 500ms ease 0s;
  transition: -webkit-transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s;
}

#header_account .menuburger.active {
  -webkit-transform: translate3d(30rem, 0, 0);
          transform: translate3d(30rem, 0, 0);
}

#header_account .menuburger {
  border: none;
  background: none;
  outline: 0;
  padding: 2rem;
}

#navbar-spy .logo-light {
  margin-bottom: 0;
  font-size: 22px;
  color: white;
}

#slider {
  background-image: url(../img/background2.jpg) !important;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#slider .container {
  position: relative;
}

#slider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #222;
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

#slider .h1_slider {
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 65px;
  margin-bottom: 20px;
  font-size: 60px;
}

#slider h5 {
  color: #a0d334;
  font-weight: 600;
  margin-bottom: 40px;
}

#slider .subtitle {
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 26px;
  font-size: 19px;
  width: 60%;
  margin-top: 30px;
}

#slider .slide-action {
  margin-top: 50px;
}

#slider .coins {
  height: 16rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#video2 .aboutus_p {
  font-size: 16px;
  color: #d7d3d3;
  margin-top: 30px;
}

.video-2 .heading {
  margin-bottom: 100px;
}

#featured1 .heading--desc {
  margin-top: 30px;
  color: #888686;
}

.pricing--desc {
  margin-top: 30px;
}

.pricing--desc p {
  font-size: 16px !important;
}

.pricing--desc p b {
  line-height: 19px;
}

.pricing-active .pricing-panel .pricing--heading {
  padding-top: 60px !important;
}

.pricing-panel .pricing--heading p {
  font-size: 65px;
}

.pricing-panel .pricing--heading h4 {
  font-size: 16px;
  margin-bottom: 30px;
}

.pricing-panel .pricing--heading h5 {
  text-align: center;
  font-size: 16px;
  color: white;
  z-index: 1;
  position: relative;
  line-height: 20px;
}

.pricing-panel .pricing--heading {
  background-color: #f3f3f3;
}

.price-table {
  margin-bottom: 5rem;
}

.heading_image {
  background-image: url(../assets/images/background/3.jpg) !important;
  background-size: cover;
  position: relative;
}

.heading_image::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.7;
}

.heading_image h4, .heading_image p {
  z-index: 10;
  position: relative;
}

.heading_image h4 {
  color: #a0d334;
}

#featured3 .banner--img img {
  width: 100%;
  height: 800px;
}

#footer h5 {
  color: white;
}

#footer p {
  font-size: 16px;
}

#featured1 {
  padding-bottom: 0 !important;
}

.social-icons {
  width: 250px;
}

.accordion .card .card-heading a {
  text-transform: initial;
  width: 90%;
}

.accordion .card-heading .card-link:after {
  right: -10%;
}

section.rules p {
  color: #848484;
  font-size: 15px;
}

section.auth {
  padding: 2rem 0;
  background-image: url(../assets/images/background/3.jpg);
  background-position: center;
  background-size: cover;
}

section.auth .form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
}

section.auth .form_block form {
  width: 39rem;
  max-width: 90%;
}

section.auth .form_block .a-button-bordered {
  padding: 0.6rem 1.8rem;
  cursor: pointer;
  text-align: center;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 600;
  background-color: #f9f9f9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #11293a;
}

section.auth .form_block .a-button-bordered:focus {
  outline: none;
}

section.auth .form_block .a-button {
  color: #828397;
}

section.auth .a_signup_column, section.auth .a_signin_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222f3d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 3rem 3.5rem;
  border-radius: 5px;
  /* TOGGLE */
  /* GUTTER: CHECKED */
  /* TOGGLE: CHECKED */
}

section.auth .a_signup_column input, section.auth .a_signin_column input {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  padding: 0.1rem 0rem;
  background-color: #222f3d;
  border: none;
  font-size: 15px;
  height: 30px;
  color: #c3c5db;
  border-bottom: 1px solid #a0d334;
  font-family: 'Montserrat';
}

section.auth .a_signup_column input:focus, section.auth .a_signin_column input:focus {
  outline: none;
  color: #c3c5db;
}

section.auth .a_signup_column label, section.auth .a_signin_column label {
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat';
}

section.auth .a_signup_column button, section.auth .a_signin_column button {
  margin: 0 auto;
  margin-top: 3rem;
}

section.auth .a_signup_column .btn--gradient:active, section.auth .a_signup_column .btn--gradient:focus, section.auth .a_signup_column .btn--gradient:hover, section.auth .a_signin_column .btn--gradient:active, section.auth .a_signin_column .btn--gradient:focus, section.auth .a_signin_column .btn--gradient:hover {
  color: #222f3d;
  background: #fff;
}

section.auth .a_signup_column label.chb_label, section.auth .a_signin_column label.chb_label {
  font-size: 14px;
}

section.auth .a_signup_column input[type=checkbox], section.auth .a_signin_column input[type=checkbox] {
  margin: 0;
  margin-top: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(45deg, #4e5070 20%, #595a71 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#e5e5e5',GradientType=1 );
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border: 0 solid #45E031;
  outline: 0;
  -webkit-transition: border-width .2s;
  transition: border-width .2s;
}

section.auth .a_signup_column input[type=checkbox]:checked, section.auth .a_signin_column input[type=checkbox]:checked {
  background: #9ccf30;
}

section.auth .a_signup_column input[type=checkbox]:before, section.auth .a_signin_column input[type=checkbox]:before {
  content: " ";
  position: absolute;
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 18px;
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d5d5d5',GradientType=1 );
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
  border: 2px solid #fff;
  -webkit-transition: top .2s, left .2s;
  transition: top .2s, left .2s;
}

section.auth .a_signup_column input[type=checkbox]:checked, section.auth .a_signin_column input[type=checkbox]:checked {
  border-width: 10px;
  border: 0px solid #111;
}

section.auth .a_signup_column input[type=checkbox]:checked:before, section.auth .a_signin_column input[type=checkbox]:checked:before {
  left: 18px;
}

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  min-height: auto;
  height: 100vh;
  background-color: #222f3d;
  -webkit-transition: -webkit-transform 500ms ease 0s;
  transition: -webkit-transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s;
}

#sidebar .sidebar_header {
  margin: 2rem;
}

#sidebar .sidebar_header h5 {
  margin: 0rem;
  text-align: center;
  color: #fff;
}

#sidebar .sidebar_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

#sidebar .sidebar_main .sidebar_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

#sidebar .sidebar_main .sidebar_item .logout {
  height: 1.8rem;
  margin-right: 10px;
}

#sidebar .sidebar_main .sidebar_item span {
  margin-right: 10px;
  font-size: 20px;
}

#sidebar .sidebar_main .sidebar_item a {
  font-family: 'Montserrat';
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

#sidebar .sidebar_main .sidebar_item a.active::before {
  background-color: #a0d334;
  width: 21px;
}

#sidebar .sidebar_main .sidebar_item a.active::before:hover {
  position: absolute;
  top: 22px;
  left: 0;
  margin: auto;
  width: 0;
  height: 3px;
  background: #a0d334;
  content: '';
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#header_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9f9f9;
  width: calc(100% - 30rem);
  position: relative;
  margin-left: 30rem;
}

#header_account .welcome_acc {
  font-size: 16px;
  color: #222f3d;
  width: auto;
  margin: 2rem;
}

#header_account .menuburger {
  display: none;
}

.account_container {
  background-color: #fff;
  width: calc(100% - 30rem);
  position: relative;
  color: #4e4b4b;
  margin-left: 30rem;
}

.account_container table .red {
  color: #f54747;
}

.account_container table .green {
  color: #3ddb45;
}

.account_container table tbody tr th {
  color: #333;
  text-transform: none;
  font-size: 15px;
  vertical-align: top;
}

.account_container table tbody tr td {
  color: #666161;
  font-size: 14px;
}

.account_container .dataTables_filter label, .account_container .dataTables_length label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account_container #table_main_wrapper, .account_container table {
  margin: 3rem 0;
}

.account_container #table_main_wrapper input, .account_container #table_main_wrapper select, .account_container table input, .account_container table select {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 49px;
  border: 1px solid transparent;
  background: #f4f4f4;
  padding: 0 0 0 20px;
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.account_container #table_main_wrapper input:focus, .account_container #table_main_wrapper select:focus, .account_container table input:focus, .account_container table select:focus {
  border-color: #a0d334;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f4f4f4;
}

#counter1 {
  background-color: #f9f9f9;
}

#contact1 form label {
  font-size: 18px;
}

#contact1 form input {
  font-size: 15px;
}

#contact1 form input::-webkit-input-placeholder {
  text-transform: none;
}

#contact1 form input:-ms-input-placeholder {
  text-transform: none;
}

#contact1 form input::-ms-input-placeholder {
  text-transform: none;
}

#contact1 form input::placeholder {
  text-transform: none;
}

.main_lc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_lc2 div {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_lc2 div h5, .main_lc2 div p {
  color: #f9f9f9;
}

.main_lc2 div p {
  font-size: 14px;
}

.main_lc2 div p span {
  font-size: 20px;
}

.main_lc2 .check {
  height: 2.4rem;
  margin: 10px;
  position: relative;
  top: -2px;
}

.modal button.close {
  top: 15px;
  right: 15px;
  color: #000000;
  z-index: 1040;
  font-size: 21px;
}

.modal-content {
  background-color: aliceblue;
}

.adminboard table .btn {
  width: 155px;
  font-size: 12px;
}

#payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

#payments img {
  height: 4rem;
  margin: 2rem;
}

#payments h5, #payments p {
  text-align: center;
}

#payments p {
  font-size: 16px;
  max-width: 100%;
  width: 40rem;
}

form #selectPlan {
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 400;
  height: 51px;
  line-height: 49px;
  border: 1px solid transparent;
  background: #282828;
  padding: 0 0 0 20px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (max-width: 1400px) {
  #sidebar .sidebar_main .sidebar_item a {
    font-size: 16px;
  }
  #featured3 .banner--img {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: auto;
  }
  #featured3 .banner--img img {
    height: auto;
  }
}

@media only screen and (max-width: 1199px) {
  #header_account {
    width: 100%;
    margin-left: 0;
    min-height: 10rem;
    overflow: hidden;
  }
  #header_account .menuburger {
    display: inline-block;
    position: fixed;
    z-index: 21;
  }
  #header_account .welcome_acc {
    margin-top: 7rem;
    margin-bottom: 0rem;
  }
  .account_container {
    width: 100%;
    margin-left: 0;
  }
  #featured3 .banner--img img {
    height: auto;
    width: 300%;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #slider .h1_slider {
    line-height: 50px;
    font-size: 40px;
  }
  #slider .subtitle {
    font-size: 16px;
  }
  #slider .coins {
    height: 10rem;
  }
  .featured-4 .contact-box {
    margin-top: 0;
  }
  #footer .margin5 {
    padding-left: 40px;
  }
  #footer .margin6 {
    padding-left: 30px;
  }
  #video2 .container {
    max-width: 100%;
  }
  .table_main .container {
    max-width: 100%;
  }
  .table_main .container .dataTables_wrapper {
    max-width: 100%;
    overflow: scroll;
  }
}

@media only screen and (max-width: 575px) {
  #slider .coins {
    display: none;
  }
  #slider .slide-action .btn:not(.btn--video) {
    width: 200px;
    height: 50px;
    line-height: 48px;
    font-size: 14px;
  }
  #slider .slider .btn--video {
    padding-left: 50px;
  }
  #slider .slider .btn--video i {
    width: 50px;
    height: 50px;
    line-height: 48px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffffff;
    margin-right: 10px;
    font-size: 12px;
  }
  #footer .footer--widget {
    padding-left: 50px;
  }
  .menuburger.active {
    right: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
  }
  #featured3 .banner--img img {
    height: 400px;
    width: 100%;
  }
  .page_news_footer .title {
    padding: 50px 0 !important;
  }
  .page_news_footer h6 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 453px) {
  .popup-video {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #slider h5 {
    margin-top: 10rem;
  }
  .slider {
    height: auto;
    min-height: 100%;
  }
  #slider .subtitle {
    width: 100%;
  }
  .footer--copyright {
    padding: 30px;
  }
  #video2 .video--button {
    height: 210px;
  }
}
/*# sourceMappingURL=main.css.map */