@font-face {
  font-family: "Ubuntu-Light";
  src: url(../fonts/Ubuntu-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-display: swap;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow-x: hidden;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #333;
}

body h1 {
  font-size: 2.6rem;
}

body h2 {
  font-size: 2.20rem;
  font-family: 'Ubuntu-Bold', sans-serif;
}

body h3 {
  font-size: 1.75rem;
  font-family: 'Ubuntu-Bold', sans-serif;
}

body h4 {
  font-size: 1.5rem;
}

body h5 {
  font-size: 1.25rem;
}

body h6 {
  font-size: 1rem;
}

body p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

body ul {
  -webkit-padding-start: 0px;
}

body ul li {
  list-style: none;
}

body a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

body a:hover {
  text-decoration: none;
}

body span {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-light .navbar-toggler:focus {
  outline: none !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #1d2e53 !important;
}

.main_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  text-align: center;
  border: none;
  font-size: 1rem;
  font-family: "Ubuntu-Bold";
  border-radius: 0.3rem;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #ff9b42;
  -webkit-box-shadow: 0px 2px 12px #bbb;
          box-shadow: 0px 2px 12px #bbb;
}

.main_button:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main_button:focus {
  outline: none;
}

.subtitle {
  font-size: 1.1rem;
  max-width: 100%;
  width: 40rem;
  text-align: center;
  letter-spacing: .02em;
}

#section1 {
  background: #4b6cb7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#182848), to(#4b6cb7));
  background: linear-gradient(to bottom, #182848, #4b6cb7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 101%;
  height: 900px;
  position: relative;
  padding: 0 4rem;
}

#section1 .svg_wave {
  position: absolute;
  width: 102%;
  height: auto;
  left: -1%;
  bottom: 0rem;
}

#section1 .svg_wave .ct-series-a .ct-area {
  fill: #fff;
  fill-opacity: 1;
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
  stroke: none;
  stroke: #4a6194;
  stroke-width: 4px;
}

#section1 .svg_wave .ct-series-a .ct-line {
  stroke-width: 4px;
  stroke-dasharray: 150vw 150vw;
  stroke-dashoffset: 150vw;
  vector-effect: non-scaling-stroke;
  -webkit-animation: chartline 2s ease-in-out forwards;
          animation: chartline 2s ease-in-out forwards;
  fill: none;
}

#section1 .svg_wave .ct-point {
  stroke-width: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  stroke-linecap: round;
}

#section1 .svg_wave .ct-series-b .ct-area {
  fill: none;
  fill-opacity: 1;
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
  stroke: none;
  stroke: #ff9c41;
  stroke-width: 4px;
}

#section1 .svg_wave .ct-series-b .ct-line {
  stroke-dasharray: 150vw 150vw;
  stroke-dashoffset: 150vw;
  vector-effect: non-scaling-stroke;
  -webkit-animation: chartline 2s ease-in-out forwards;
          animation: chartline 2s ease-in-out forwards;
  fill: none;
}

#section1 .svg_wave .ct-point {
  stroke-width: 0;
}

#section1 nav {
  padding: 1.5rem 0;
}

#section1 .navbar-brand img {
  height: 1.7rem;
}

#section1 #navbarSupportedContent .nav-link {
  color: white;
  margin: 0 0.5rem;
}

#section1 #navbarSupportedContent .nav-link::after {
  display: none;
}

#section1 #navbarSupportedContent .flag {
  height: 1rem;
  position: relative;
  top: -1px;
}

#section1 #navbarSupportedContent .arrow_down {
  height: 0.7rem;
}

#section1 #navbarSupportedContent .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1 #navbarSupportedContent .auth div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.5rem;
}

#section1 #navbarSupportedContent .auth div img {
  height: 1rem;
  margin-right: 7px;
}

#section1 #navbarSupportedContent .auth div p {
  color: white;
}

#section1 #navbarSupportedContent #navbarDropdown1.dropdown-toggle::after {
  display: none;
}

#section1 .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  margin-top: 3rem;
  position: relative;
}

#section1 .main_content .main_caption {
  color: white;
  font-size: 2.3rem;
  letter-spacing: .02em;
  text-align: center;
  width: 90%;
  line-height: 47px;
}

#section1 .main_content .submain {
  color: white;
  font-size: 1.1rem;
  max-width: 100%;
  width: 40rem;
  text-align: center;
  letter-spacing: .02em;
}

#section1 .main_content .search_block {
  position: relative;
  max-width: 100%;
  width: 43rem;
  margin-top: 3rem;
}

#section1 .main_content .search_block .search_lang {
  position: absolute;
  left: 26.4rem;
  height: 42px;
  top: 0;
  border-left: 2px solid #eaeaea;
  padding: 0 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1 .main_content .search_block .search_lang .search_flag {
  height: 0.8rem;
  position: relative;
  top: -2px;
}

#section1 .main_content .search_block .search_lang .search_arrow {
  height: 0.7rem;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

#section1 .main_content .search_block .search_lang #dropdownSearch::after {
  display: none;
}

#section1 .main_content .search_block .search_lang .dropdown-menu {
  left: -1rem !important;
}

#section1 .main_content .search_block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1 .main_content .search_block input {
  max-width: 100%;
  background-color: white;
  color: #333;
  font-family: "Ubuntu";
  height: 2.7rem;
  padding: 0.375rem 1.25rem;
}

#section1 .main_content .search_block input:focus {
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 0.25);
}

#section1 .main_content .search_block #search_button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 2.7rem;
  font-weight: bolder;
  margin: 0 10px;
  color: #555;
  padding-bottom: 3px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 2px 15px #444;
          box-shadow: 0 2px 15px #444;
  width: 12.4rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#section1 .main_content .search_block #search_button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#section1 .main_content .search_block #search_button img {
  height: 1rem;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  position: relative;
  top: -2px;
  margin-right: 2px;
}

#section1 .main_content #laptop {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -34rem;
  width: 45rem;
  height: auto;
  max-width: 100%;
}

#section2 {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 4.5rem;
  /* 	.s2_cont.s2_contOpenTab {
		display: block;
	} */
}

#section2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 59px;
  background: url(../img/wave2.png);
}

#section2 h2 {
  text-align: center;
  color: #333;
}

#section2 .subtitle {
  color: #333;
}

#section2 .tabs_s2 {
  width: 120%;
  margin: 2rem 0;
  border-bottom: 2px solid #e6e6e6;
}

#section2 .tabs_s2 .item_s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .5;
  padding-bottom: 1rem;
  position: relative;
  top: 2px;
  cursor: pointer;
  padding: 1rem 0.7rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#section2 .tabs_s2 .item_s2:hover {
  background-color: #ededed;
  border-bottom: 2px solid #ededed;
}

#section2 .tabs_s2 .item_s2 img {
  height: 3rem;
  margin: 0.5rem;
}

#section2 .tabs_s2 .item_s2 .item_p {
  text-align: center;
}

#section2 .tabs_s2 .col-sm-2 {
  padding: 0 !important;
}

#section2 .tabs_s2 .item_s2.active {
  opacity: 1;
  background-color: #f6f6f6;
  border-bottom: 5px solid #ff9b42;
}

#section2 .tabs_s2 .item_s2.active .item_p {
  font-weight: bolder;
}

#section2 .s2_cont {
  padding: 5rem 0;
  display: none;
}

#section2 .s2_cont h3 {
  color: #333;
  width: calc(100% - 4rem);
}

#section2 .s2_cont p {
  margin-bottom: 2.5rem;
  width: calc(100% - 4rem);
}

#section2 .s2_cont .s3_img {
  max-width: 100%;
}

#section3 {
  position: relative;
  background-color: #f5f5f5;
  margin-top: -1rem;
  padding: 8rem 0;
  padding-bottom: 15rem;
}

#section3::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 101%;
  height: 255px;
  background: url(../img/wave3.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
}

#section3 h2 {
  text-align: center;
  color: #333;
  position: relative;
  z-index: 3;
  letter-spacing: .01em;
}

#section3 h2 span {
  color: white;
}

#section3 .figure1 {
  position: relative;
}

#section3 .figure1 img {
  height: 25rem;
  left: -101px;
  top: -75px;
  position: absolute;
  z-index: 1;
}

#section3 .figure1 .stat {
  position: absolute;
  z-index: 2;
  font-family: "Ubuntu-Bold", sans-serif;
  color: white;
  top: -15px;
  left: 40px;
}

#section3 .figure1 .stat span {
  font-family: "Ubuntu-Light", sans-serif;
  margin-left: 1rem;
  font-weight: 100;
}

#section3 .figure1 .tablestat, #section3 .figure1 .tablestat_single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 40px;
  left: 88px;
}

#section3 .figure1 .tablestat .item, #section3 .figure1 .tablestat_single .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

#section3 .figure1 .tablestat .item p, #section3 .figure1 .tablestat_single .item p {
  color: white;
  font-size: 0.8rem;
}

#section3 .figure1 .tablestat .item p i, #section3 .figure1 .tablestat_single .item p i {
  color: white;
}

#section3 .figure1 .tablestat .item h5, #section3 .figure1 .tablestat_single .item h5 {
  color: white;
  font-size: 1rem;
  margin-top: 0;
  font-family: "Ubuntu-Light", sans-serif;
}

#section3 .figure1 .tablestat .darkitem p, #section3 .figure1 .tablestat .darkitem h5, #section3 .figure1 .tablestat .darkitem i, #section3 .figure1 .tablestat_single .darkitem p, #section3 .figure1 .tablestat_single .darkitem h5, #section3 .figure1 .tablestat_single .darkitem i {
  color: #333 !important;
}

#section3 .figure1 .tablestat_single {
  top: 39px;
  left: 137px;
}

#section3 .figure1 .tablestat_single p {
  margin-bottom: 2px;
}

#section3 .figure1 .tablestat_single h5 {
  font-size: 1.3rem !important;
}

#section3 .whoCan_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
}

#section3 .whoCan_items .item .headerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#section3 .whoCan_items .item .headerItem img {
  height: 2.5rem;
  margin: 0 1rem;
}

#section3 .whoCan_items .item p {
  line-height: 26px;
}

#section4 {
  padding: 3rem 0;
}

#section4 .s_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

#section4 .s_numbers h3 {
  font-family: "Montserrat-Light";
  font-size: 2.8rem;
  font-weight: lighter;
  margin-bottom: 0;
}

#section4 .s_numbers p {
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: center;
}

#section5 {
  padding: 3rem 0;
}

#section5 h2 {
  text-align: center;
  color: #333;
  position: relative;
  z-index: 3;
  letter-spacing: .01em;
  margin-bottom: 1.5rem;
}

#section5 .subtitle {
  margin-left: auto;
  margin-right: auto;
}

#section5 .typePlans {
  width: 27rem;
  background-color: white;
  border-radius: 21.5px;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #e8e8e8;
  position: relative;
}

#section5 .typePlans .buttonSlide {
  position: absolute;
}

#section5 .typePlans .wrapperBtn {
  width: 50%;
  background-color: transparent;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 0.6rem 2rem;
  padding-bottom: 0.7rem;
  display: block;
  font-family: "Ubuntu-Bold";
  color: #333;
  position: relative;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
}

#section5 .typePlans .wrapperBtn span {
  font-family: "Ubuntu-Light";
  font-weight: lighter;
}

#section5 .typePlans .wrapperBtn.activeType {
  color: white;
}

#section5 .typePlans .buttonSlide {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 13.5rem;
  -webkit-transition: .5s;
  transition: .5s;
  height: 42px;
  border-radius: 21.5px;
  padding-bottom: 0.6rem;
  background: linear-gradient(24deg, #4969b2, #1c315e);
}

#section5 #designCards {
  margin: 3rem auto;
  width: 70%;
  height: 550px;
  margin-bottom: 2rem;
}

#section5 #designCards .cardCont {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  position: relative;
}

#section5 #designCards .cardCont .header_card {
  position: relative;
  padding: 1rem;
  height: 10rem;
  margin-bottom: 1.5rem;
}

#section5 #designCards .cardCont .header_card::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 10rem;
  width: 100%;
  background-color: #111;
  opacity: .65;
}

#section5 #designCards .cardCont .header_card h4 {
  color: white;
  text-align: center;
  z-index: 10;
  position: relative;
}

#section5 #designCards .cardCont .header_card .freeCost {
  font-size: 1.5rem;
  opacity: .5;
  font-family: "Montserrat";
  margin-top: 1.8rem;
}

#section5 #designCards .cardCont .header_card h3 {
  font-family: "Montserrat-Light";
  font-weight: lighter;
  color: white;
  text-align: center;
  z-index: 10;
  position: relative;
  font-size: 2.6rem;
}

#section5 #designCards .cardCont .header_card h3 span {
  font-family: "Montserrat-Light";
}

#section5 #designCards .cardCont .columnContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

#section5 #designCards .cardCont .columnContent p {
  font-weight: bolder;
  font-size: 14px;
}

#section5 #designCards .cardCont .upgrade_button {
  margin-top: 1.5rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

#section5 #designCards .cardCont .seemore_button {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #333;
  border-radius: 0;
}

#section5 #designCards .cardFront, #section5 #designCards .cardBack {
  position: absolute;
  width: 100%;
  height: 450px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  border: 2px solid #e8e8e899;
}

#section5 #designCards .cardFront1 .header_card {
  background: url(../img/plans1.png);
  background-size: cover;
  background-position: center;
}

#section5 #designCards .cardFront2 .header_card {
  background: url(../img/plans2.png);
  background-size: cover;
  background-position: center;
}

#section5 #designCards .cardFront3 .header_card {
  background: url(../img/plans3.png);
  background-size: cover;
}

#section5 #designCards .cardFront3 .header_card::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 10rem;
  width: 100%;
  background-color: #1f3563;
  opacity: .74;
}

#section5 #designCards .cardFront4 .header_card {
  background: url(../img/plans4.png);
  background-size: cover;
}

#section5 #designCards .cardFront4 .header_card::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 10rem;
  width: 100%;
  background-color: #5d4222;
  opacity: .74;
}

#section5 #designCards .playcardFront {
  background: url("http://unlimitedpotentialnow.com/wp-content/uploads/2012/01/Bouquet-cs.jpg");
}

#section5 #designCards .playcardBack {
  background: url("http://i203.photobucket.com/albums/aa158/Comic1111/ACe.png");
}

#section6 {
  padding: 3rem 0;
  position: relative;
  padding-bottom: 18rem;
}

#section6::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 101%;
  height: 255px;
  background: url(../img/wave4.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
}

#section6 h2 {
  text-align: center;
  letter-spacing: .01em;
  margin-bottom: 2.5rem;
}

#section6 .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem;
}

#section6 .col-12 h3 {
  font-family: "Montserrat-Light";
  font-weight: lighter;
  color: #ff9b42;
  font-size: 3rem;
  width: 5rem;
  position: relative;
  top: -7px;
}

#section6 .col-12 .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section6 .col-12 .column2 p {
  letter-spacing: .01em;
  font-size: 1.1rem;
  line-height: 26px;
}

#footer {
  position: relative;
  padding: 1rem 0;
  padding-bottom: 3rem;
  background-color: #f5f5f5;
}

#footer .dropdown-item:active {
  background-color: #f5f5f5 !important;
}

#footer .footerCol1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footerCol1 .footer_logo {
  width: 13rem;
  margin-bottom: 3rem;
}

#footer .footerCol1 .rights {
  font-size: 14px;
  opacity: .52;
}

#footer .footerCol1 .dropdown a {
  color: #333;
}

#footer .footerCol1 .dropdown .flag {
  height: 1rem;
  position: relative;
  top: -1px;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

#footer .footerCol1 .dropdown .arrow_down {
  height: 0.7rem;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

#footer .footerCol1 #dropdownLang::after {
  display: none;
}

#footer .footerCol2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.5rem;
}

#footer .footerCol2 .footerLink {
  font-weight: bolder;
  color: #333;
  margin-bottom: 0.6rem;
}

#footer .footerCol2 .footerLink:hover {
  color: #ff9b42;
}

#footer .footerCol3, #footer .footerCol4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.5rem;
}

#footer .footerCol3 .footerLink, #footer .footerCol4 .footerLink {
  color: #333;
  margin-bottom: 0.6rem;
}

#footer .footerCol3 .footerLink:hover, #footer .footerCol4 .footerLink:hover {
  color: #333;
  font-weight: bolder;
}

#footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

#footer .socials img {
  height: 2.3rem;
  width: 2.3rem;
}

#footer .socials a {
  margin: 0.5rem;
}

#footer .socials a:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

#section1.site_explorer {
  padding-bottom: 15rem;
  height: auto;
}

#section1.site_explorer .main_content #laptop {
  display: none;
}

#section2.site_explorer2 {
  margin-top: 4rem;
  padding-bottom: 13.5rem;
}

#section2.site_explorer2::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 101%;
  height: 255px;
  background: url(../img/wave4.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
}

#section2.site_explorer2 .se2 {
  margin: 2rem 0;
  margin-bottom: 6rem;
}

#section2.site_explorer2 .se2 .s3_img {
  max-width: 100%;
}

#section2.site_explorer2 .se2 p {
  max-width: 90%;
}

#section2.site_explorer2 .se2 .leftblock {
  margin-left: auto;
  max-width: 90%;
}

#section1.serp_explorer {
  height: 870px;
}

#section1.serp_explorer .submain {
  margin-top: 3rem;
}

#section1.serp_explorer .main_content #laptop {
  bottom: -29rem;
}

#footer.serp_explorer {
  background-color: white;
  margin-top: 13rem;
}

@media only screen and (min-width: 1366px) {
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar.navbar-light {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .navbar.navbar-light .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar.navbar-light .navbar-toggler {
    display: none;
  }
  .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar.navbar-light .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar.navbar-light .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

@media only screen and (max-width: 1600px) {
  #section5 #designCards {
    width: 90%;
  }
}

@media only screen and (max-width: 1366px) {
  .navbar.navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu.png") !important;
  }
  .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section3 {
    padding-left: 1.5rem;
  }
}

@media only screen and (max-width: 1199px) {
  #section3 h2 {
    position: relative;
    left: 88px;
  }
  #section5 #designCards {
    height: 1150px;
  }
  #section2.site_explorer2 {
    padding-bottom: 9.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section1 #navbarSupportedContent .auth {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #navbarSupportedContent {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: fixed;
    z-index: 1221;
    top: 4rem;
    min-width: auto;
    width: 19rem;
    height: 100vh;
    left: -19rem;
    overflow: scroll;
    min-height: 900px;
    padding: 3rem;
    padding-bottom: 6rem;
    background-color: #1a2b4c;
  }
  #section1 nav {
    position: fixed;
    top: 0;
    background: #1a2b4c;
    width: 100%;
    left: 0;
    padding: 1rem 3rem;
    z-index: 1221;
  }
  #section1 .main_content .search_block .search_lang {
    right: 171px;
    left: auto;
    background-color: #ffffff;
  }
  #section2 {
    margin-top: 9rem;
  }
  #section2 .tabs_s2 {
    width: 100%;
  }
  #section2 .container {
    max-width: 100%;
  }
  #section2 .s2_cont {
    padding: 5rem 1rem;
  }
  #section3 {
    padding-bottom: 10rem;
  }
  #section3 h2 {
    position: relative;
    top: -60px;
    left: auto;
  }
  #section3 h2 span {
    color: #333;
  }
  #section4 .s_numbers h3 {
    font-size: 2rem;
  }
  #section6 {
    padding: 0;
  }
  #section6 .col-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  #footer .footerCol1, #footer .footerCol2 {
    margin-bottom: 3rem;
  }
  #footer .footerLink {
    text-align: center;
  }
  #footer .footerCol1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section1 .main_content #laptop {
    bottom: -31rem;
  }
  #section1.site_explorer {
    padding-bottom: 8rem;
  }
  #section1.serp_explorer {
    height: 745px;
  }
}

@media only screen and (max-width: 767px) {
  #section1 {
    height: 850px;
  }
  #section1 .main_content #laptop {
    bottom: -23rem;
  }
  #section2 {
    margin-top: 5rem;
  }
  #section2 .s2_cont .s3_img {
    margin-top: 1rem;
  }
  #section2 .s2_cont {
    padding: 2rem 1rem;
  }
  #section1 .main_content .search_block .search_lang {
    right: 156px;
  }
  #section3 {
    padding-bottom: 8rem;
  }
  #section3 .figure1 {
    margin-bottom: 10rem;
  }
  #section5 #designCards {
    height: 2150px;
  }
  #section6 {
    padding-bottom: 6rem;
  }
  #section2 .s2_cont h3, #section2 .s2_cont p {
    width: 100%;
    text-align: center;
  }
  #section2 .s2_cont .col-12 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section2 .s2_cont .col-12 .main_button {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  #section2.site_explorer2 {
    margin-top: 1rem;
  }
  #section2.site_explorer2 .s3_img {
    margin: 0 auto;
    display: block;
  }
  #section2.site_explorer2 h3, #section2.site_explorer2 p {
    text-align: center;
  }
  #section2.site_explorer2 p {
    margin-bottom: 1rem;
    max-width: 100% !important;
  }
  #section2.site_explorer2 .leftblock {
    max-width: 100% !important;
  }
  #section2.site_explorer2 {
    padding-bottom: 3.5rem;
  }
  #section2.site_explorer2 .se2 {
    margin-bottom: 4rem;
  }
  #section1.serp_explorer .main_content #laptop {
    bottom: -22rem;
  }
  #section1.serp_explorer {
    height: 675px;
  }
}

@media only screen and (max-width: 575px) {
  #section1 {
    height: 690px;
    padding: 0 2rem;
  }
  #section1 .main_content .search_block .search_lang {
    right: 0px;
  }
  #section1 .main_content .main_caption {
    width: 100%;
  }
  #section1 .main_content #laptop {
    display: none;
  }
  #section1 .main_content .search_block form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section1 .main_content .search_block #search_button {
    margin: 0;
    margin-top: 10px;
  }
  #section3 .figure1 .stat {
    color: #333;
  }
  #section3 .figure1 .tablestat .item p, #section3 .figure1 .tablestat_single .item p {
    color: #333;
  }
  #section3 .figure1 .tablestat .item h5, #section3 .figure1 .tablestat_single .item h5 {
    color: #333;
  }
  #section3 .figure1 .tablestat .item p i, #section3 .figure1 .tablestat_single .item p i {
    color: #333;
  }
  #section3 .figure1 .tablestat, #section3 .figure1 .tablestat_single, #section3 .figure1 .tablestat_single, #section3 .figure1 .stat {
    left: 0;
    top: 0;
    position: relative;
  }
  #section3 {
    padding-left: 0;
  }
  #section3 .figure1 {
    margin-bottom: 4rem;
  }
  #section3 .figure1 img {
    display: none;
  }
  #section4 .s_numbers h3 {
    font-size: 2.8rem;
  }
  #section1.serp_explorer {
    height: auto;
    padding-bottom: 4rem;
  }
  #footer.serp_explorer {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 460px) {
  #section1 .main_content .main_caption {
    font-size: 2rem;
  }
  #section1 .main_content .submain {
    font-size: 1rem;
  }
  #section1 nav {
    padding: 1rem;
  }
  #section1 {
    padding: 0;
    height: auto;
  }
  #section1 .main_content .search_block {
    margin-bottom: 4rem;
  }
  #section2 {
    margin-top: 3rem;
  }
  #section2 .tabs_s2 .item_s2 {
    height: 10rem;
  }
  #section2::after {
    height: 72px;
  }
  #section3 {
    padding: 4rem 0;
    padding-bottom: 6rem;
  }
  #section3 h2 {
    top: -30px;
    left: auto;
    padding: 0 15px;
  }
  #section3 .whoCan_items .item {
    padding: 1rem 0;
  }
  #section4 .s_numbers {
    padding: 1rem;
  }
  #section5 .typePlans .buttonSlide, #section5 .typePlans .wrapperBtn {
    width: 50%;
    padding: 0.6rem 0;
  }
  #section5 .typePlans {
    width: 100%;
  }
  #section5 {
    padding: 2rem 0;
  }
  #section6 .col-12 {
    padding: 2rem 15px;
  }
  #section6 h2 {
    margin-bottom: 1.5rem;
  }
  #footer {
    padding: 2rem 0;
    padding-bottom: 3rem;
  }
  #section1.site_explorer {
    padding-bottom: 1rem;
  }
  #section1.serp_explorer .main_content .search_block {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 460px) {
  #section3 .figure1 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */