.alerts_block {
    z-index: 1000000000;
    position: fixed;
    right: 0;
    top: 77px;
    max-width: 100%;
    width: 50rem;
    height: auto;
    overflow: hidden;
    }
    .alerts_block .alerts_relative {
    position: relative;
    }
    .alerts_block .alerts_relative .alert {
    margin-bottom: 0;
    margin: 12px;
    margin-right: 0;
    margin-left: 0;
    }
    .alerts_block .alerts_relative .alert .close {
    font-size: 24px;
    text-shadow: none;
    }
    .alerts_block .alerts_relative .alert a {
    color: #2c333e;
    }


    .alert {
    padding: 18px 55px 18px 60px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 30px;
    position: relative;
    color: white;
    word-break: break-word;
}

.alert:before {
    position: absolute;
    font-family: 'Simple-Line-Icons';
    left: 30px;
    top: 18px;
}

.alert strong {
    font-weight: 500
}

.alert .alert_icon {
    margin-right: 15px;
    font-size: 16px
}

.alert.alert-default {
    background: rgba(110,79,246,.1)
}

.alert.alert-primary:before {
    content: '\e027'
}

.alert.alert-secondary:before {
    content: '\e031'
}

.alert.alert-success {
    background: rgba(29,201,183,.1);
    border-color: rgba(29,201,183,.1)
}

.alert.alert-success:before {
    content: '\e080'
}

.alert.alert-info {
    background: rgba(54,163,247,.1);
    border-color: rgba(54,163,247,.1)
}

.alert.alert-info:before {
    content: '\e055'
}

.alert.alert-warning {
    background: rgba(255,184,34,.1);
    border-color: rgba(255,184,34,.1)
}

.alert.alert-warning:before {
    content: '\e617'
}

.alert.alert-danger {
    background: rgba(244,81,108,.1);
    border-color: rgba(244,81,108,.1)
}

.alert.alert-danger:before {
    content: '\e01a'
}

.alert .close {
    font-size: 16px;
    opacity: .3;
    position: absolute;
    right: 30px;
    top: 18px;
    padding: 0
}

.alert .close:hover {
    opacity: .5
}

    .alert.alert-danger {
    background: #e95555;
    border-color: #e95555;
    }
    .alert.alert-warning {
    background: #f3ad38;
    border-color: #f3ad38;
    }
    .alert.alert-success {
    background: #1dc9b7;
    border-color: #1dc9b7;
    }
    .alert.alert-info {
    background: #36a3f7;
    border-color: #36a3f7;
    }