@font-face {
	font-family: "Ubuntu-Light";
	src: url(../fonts/Ubuntu-Light.ttf); 
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url(../fonts/Ubuntu-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu-Bold";
	src: url(../fonts/Ubuntu-Bold.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Light";
	src: url(../fonts/Montserrat-Light.ttf);
	font-display: swap; 
}
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-Regular.ttf); 
	font-display: swap;
}


html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	background-color: #333;
	overflow-x: hidden;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		color: #333;
	}
	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.20rem;
		font-family: 'Ubuntu-Bold', sans-serif;
	}
	h3 {
		font-size: 1.75rem;
		font-family: 'Ubuntu-Bold', sans-serif;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
	p {
		font-family: 'Ubuntu', sans-serif;
		font-size: 1rem;
		font-weight: normal;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		color: #333;
	}
	ul {
		-webkit-padding-start: 0px;
		li {
			list-style: none;
		}
	}
	a {
		text-decoration: none;
		font-family: 'Ubuntu', sans-serif;
		&:hover {
			text-decoration: none;
		}
	}
	span {
		font-family: 'Ubuntu', sans-serif;
	}
}
.navbar-nav {
	margin-left: auto;
}
.navbar-light .navbar-toggler {
	border-color: rgba(0, 0, 0, 0) !important;
	&:focus {
		outline: none !important;
	}
}
.dropdown-item.active, .dropdown-item:active {
	background-color: #1d2e53 !important;
}


$orange: #ff9b42;

.main_button {
	display: inline-flex;
    padding: 0.5rem 1.8rem;
	cursor: pointer;
	text-align: center;
	border: none;
	font-size: 1rem;
	font-family: "Ubuntu-Bold";
	border-radius: 0.3rem;
	color: #fff;
	transition: 0.3s;
	background: $orange;
	box-shadow: 0px 2px 12px #bbb;
	&:hover {
		filter: brightness(115%);
		color: #fff;
		box-shadow: none;
	}
	&:focus {
		outline: none;
	}
}

.subtitle {
	font-size: 1.1rem;
	max-width: 100%;
	width: 40rem;
	text-align: center;
	letter-spacing: .02em;
}




/////////////////////////////////////////////

#section1 {
	background: #4b6cb7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 101%;
	height: 900px;
	position: relative;
	padding: 0 4rem;
	.svg_wave {
		position: absolute;
		width: 102%;
		height: auto;
		left: -1%;
		bottom: 0rem;
		.ct-series-a .ct-area {
			fill: #fff;
			fill-opacity: 1;
			transform: translateY(.3em);
			stroke: none;
			stroke: #4a6194;
			stroke-width: 4px;
		}
		
		.ct-series-a .ct-line {
			stroke-width: 4px;
			stroke-dasharray: 150vw 150vw;
			stroke-dashoffset: 150vw;
			vector-effect: non-scaling-stroke;
			animation: chartline 2s ease-in-out forwards;
			fill: none;
		}
		.ct-point {
			stroke-width: 0;
			transition: all .2s ease-in-out;
			stroke-linecap: round;
		}
		
		.ct-series-b .ct-area {
			fill: none;
			fill-opacity: 1;
			transform: translateY(.3em);
			stroke: none;
			stroke: #ff9c41;
			stroke-width: 4px;
		}
		.ct-series-b .ct-line {
			stroke-dasharray: 150vw 150vw;
			stroke-dashoffset: 150vw;
			vector-effect: non-scaling-stroke;
			animation: chartline 2s ease-in-out forwards;
			fill: none;
		}
		.ct-point {
			stroke-width: 0;
		}
	}
	nav {
		padding: 1.5rem 0;
	}
	.navbar-brand {
		img {
			height: 1.7rem;
		}
	}
	#navbarSupportedContent {
		.nav-link {
			color: white;
			margin: 0 0.5rem;
			&::after {
				display: none;
			}
		}
		.flag {
			height: 1rem;
			position: relative;
			top: -1px;
		}
		.arrow_down {
			height: 0.7rem;
		}
		.auth {
			display: flex;
			justify-content: center;
			align-items: center;
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 0.5rem;
				img {
					height: 1rem;
					margin-right: 7px
				}
				p {
					color: white;
				}
			}
		}
		#navbarDropdown1.dropdown-toggle::after {
			display: none;
		}
	}

	.main_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3rem 0;
		margin-top: 3rem;
		position: relative;
		.main_caption {
			color: white;
			font-size: 2.3rem;
			letter-spacing: .02em;
			text-align: center;
			width: 90%;
			line-height: 47px;

		}
		.submain {
			color: white;
			font-size: 1.1rem;
			max-width: 100%;
			width: 40rem;
			text-align: center;
			letter-spacing: .02em;
		}
		.search_block {
			position: relative;
			max-width: 100%;
			width: 43rem;
			margin-top: 3rem;
			.search_lang {
				position: absolute;
				left: 26.4rem;
				height: 42px;
				top: 0;
				border-left: 2px solid #eaeaea;
				padding: 0 1rem;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				background-color: #f3f3f3;
				display: flex;
				justify-content: center;
				align-items: center;
				.search_flag {
					height: 0.8rem;
					position: relative;
					top: -2px;
				}
				.search_arrow {
					height: 0.7rem;
					filter: brightness(0.2);
				}
				#dropdownSearch {
					&::after {
						display: none;
					}
				}
				.dropdown-menu {
					left: -1rem !important;
				}
			}
			form {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			input {
				max-width: 100%;
				background-color: white;
				color: #333;
				font-family: "Ubuntu";
				height: 2.7rem;
				padding: 0.375rem 1.25rem;
				&:focus {
					border-color: #ffffff;
					outline: 0;
					box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 0.25);
				}
			}
			#search_button {
				-webkit-appearance: none;
				outline: none;
				border: none;
				border-radius: 4px;
				height: 2.7rem;
				font-weight: bolder;
				margin: 0 10px;
				color: #555;
				padding-bottom: 3px;
				background-color: #f3f3f3;
				box-shadow: 0 2px 15px #444;
				width: 12.4rem;
				cursor: pointer;
				transition: .3s;
				&:hover {
					box-shadow: none;
				}
				img {
					height: 1rem;
					filter: brightness(0.2);
					position: relative;
					top: -2px;
					margin-right: 2px;
				}
			}
		}
		#laptop {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: -34rem;
			width: 45rem;
			height: auto;
			max-width: 100%;
		}
	}
}


#section2 {
	margin-top: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-bottom: 4.5rem;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 59px;
		background: url(../img/wave2.png);
	}
	h2 {
		text-align: center;
		color: #333;
	}
	.subtitle {
		color: #333;
	}
	.tabs_s2 {
		width: 120%;
		margin: 2rem 0;
		border-bottom: 2px solid #e6e6e6;
		.item_s2 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: .5;
			padding-bottom: 1rem;
			position: relative;
			top: 2px;
			cursor: pointer;
			padding: 1rem 0.7rem;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			&:hover {
				background-color: #ededed;
				border-bottom: 2px solid #ededed;
			}
			img {
				height: 3rem;
				margin: 0.5rem;
			}
			.item_p {
				text-align: center;
			}
		}
		.col-sm-2 {
			padding: 0 !important;
		}
		.item_s2.active {
			opacity: 1;
			background-color: #f6f6f6;
			border-bottom: 5px solid $orange;
			.item_p {
				font-weight: bolder;
			}
		}
	}
	.s2_cont {
		padding: 5rem 0;
		display: none;
		h3 {
			color: #333;
			width: calc(100% - 4rem);
		}
		p {
			margin-bottom: 2.5rem;
			width: calc(100% - 4rem);
		}
		.s3_img {
			max-width: 100%;
		}
	}
/* 	.s2_cont.s2_contOpenTab {
		display: block;
	} */
}


#section3 {
	position: relative;
	background-color: #f5f5f5;
	margin-top: -1rem;
	padding: 8rem 0;
	padding-bottom: 15rem;
	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 101%;
		height: 255px;
		background: url(../img/wave3.png) no-repeat;
		background-size: 100%;
		background-position: bottom;
	}
	h2 {
		text-align: center;
		color: #333;
		position: relative;
		z-index: 3;
		letter-spacing: .01em;
		span {
			color: white;
		}
	}
	.figure1 {
		position: relative;
		img {
			height: 25rem;
			left: -101px;
			top: -75px;
			position: absolute;
			z-index: 1;
		}
		.stat {
			position: absolute;
			z-index: 2;
			font-family: "Ubuntu-Bold", sans-serif;
			color: white;
			top: -15px;
			left: 40px;
			span {
				font-family: "Ubuntu-Light", sans-serif;
				margin-left: 1rem;
				font-weight: 100;
			}
		}
		.tablestat, .tablestat_single {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 3;
			width: max-content;
			top: 40px;
			left: 88px;
			.item {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0 12px;
				p {
					color: white;
					font-size: 0.8rem;
					i {
						color: white;
					}
				}
				h5 {
					color: white;
					font-size: 1rem;
					margin-top: 0;
					font-family: "Ubuntu-Light", sans-serif;
				}
			}
			.darkitem {
				p, h5, i {
					color: #333 !important;
				}
			}
		}
		.tablestat_single {
			top: 39px;
			left: 137px;
			p {
				margin-bottom: 2px;
			}
			h5 {
				font-size: 1.3rem !important;
			}
		}
	}
	.whoCan_items {
		.item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1rem 2rem;
			.headerItem {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: row;
				img {
					height: 2.5rem;
					margin: 0 1rem;
				}
			}
			p {
				line-height: 26px;
			}
		}
	}
}

#section4 {
	padding: 3rem 0;
	.s_numbers {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		h3 {
			font-family: "Montserrat-Light";
			font-size: 2.8rem;
			font-weight: lighter;
			margin-bottom: 0;
		}
		p {
			font-size: 1.1rem;
			font-weight: bolder;
			text-align: center;
		}
	}
}

#section5 {
	padding: 3rem 0;
	h2 {
		text-align: center;
		color: #333;
		position: relative;
		z-index: 3;
		letter-spacing: .01em;
		margin-bottom: 1.5rem;
	}
	.subtitle {
		margin-left: auto;
		margin-right: auto;
	}
	.typePlans {
		width: 27rem;
		background-color: white;
		border-radius: 21.5px;
		margin: 2rem auto;
		display: flex;
		border: 2px solid #e8e8e8;
		position: relative;
		.buttonSlide {
			position: absolute;
		}
		.wrapperBtn {
			width: 50%;
			background-color: transparent;
			text-align: center;
			font-size: 0.9rem;
			font-weight: bolder;
			padding: 0.6rem 2rem;
			padding-bottom: 0.7rem;
			display: block;
			font-family: "Ubuntu-Bold";
			color: #333;
			position: relative;
			z-index: 2;
			transition: .5s;
			span {
				font-family: "Ubuntu-Light";
				font-weight: lighter;
			}

		}
		.wrapperBtn.activeType {
			color: white;
		}
		.buttonSlide {
			position: absolute;
			z-index: 1;
			left: 50%;
			top: 0;
			width: 13.5rem;
			transition: .5s;
			height: 42px;
			border-radius: 21.5px;
			padding-bottom: 0.6rem;
			background: linear-gradient(24deg, #4969b2, #1c315e);
		}
	}
	#designCards {
		margin: 3rem auto;
		width: 70%;
		height: 550px;
		margin-bottom: 2rem;
        .cardCont {
            width: 100%;
            height: auto;
            margin: 2rem auto;
			position: relative;
			.header_card {
				position: relative;
				padding: 1rem;
				height: 10rem;
				margin-bottom: 1.5rem;
				&::after {
					position: absolute;
					left: 0;
					top: 0;
					content: '';
					height: 10rem;
					width: 100%;
					background-color: #111;
					opacity: .65;
				}
				h4 {
					color: white;
					text-align: center;
					z-index: 10;
					position: relative;
				}
				.freeCost {
					font-size: 1.5rem;
					opacity: .5;
					font-family: "Montserrat";
					margin-top: 1.8rem;
				}
				h3 {
					font-family: "Montserrat-Light";
					font-weight: lighter;
					color: white;
					text-align: center;
					z-index: 10;
					position: relative;
					font-size: 2.6rem;
					span {
						font-family: "Montserrat-Light";
					}
				}
			}
			.columnContent {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0 2rem;
				p {
					font-weight: bolder;
    				font-size: 14px;
				}
			}
			.upgrade_button {
				margin-top: 1.5rem;
				width: 100%;
				justify-content: center;
				box-shadow: none;
				border-radius: 0;
			}
			.seemore_button {
				width: 100%;
				justify-content: center;
				box-shadow: none;
				background-color: #333;
				border-radius: 0;
			}
		}
        .cardFront, .cardBack {
            position:absolute;
            width: 100%;
            height:450px;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			border: 2px solid #e8e8e899;
        }
        .cardFront1 .header_card {
            background: url(../img/plans1.png);
            background-size: cover;
            background-position: center;
        }
        .cardFront2 .header_card {
            background: url(../img/plans2.png);
            background-size: cover;
            background-position: center;
        }
        .cardFront3 .header_card {
            background: url(../img/plans3.png);
			background-size: cover;
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				height: 10rem;
				width: 100%;
				background-color: #1f3563;
				opacity: .74;
			}
        }
        .cardFront4 .header_card {
            background: url(../img/plans4.png);
			background-size: cover;
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				height: 10rem;
				width: 100%;
				background-color: #5d4222;
				opacity: .74;
			}
        }

        .playcardFront {
            background:url("http://unlimitedpotentialnow.com/wp-content/uploads/2012/01/Bouquet-cs.jpg");
        }
        .playcardBack {
            background:url("http://i203.photobucket.com/albums/aa158/Comic1111/ACe.png");
        }
    }
}

#section6 {
	padding: 3rem 0;
	position: relative;
	padding-bottom: 18rem;
	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 101%;
		height: 255px;
		background: url(../img/wave4.png) no-repeat;
		background-size: 100%;
		background-position: bottom;
	}
	h2 {
		text-align: center;
		letter-spacing: .01em;
		margin-bottom: 2.5rem;
	}
	.col-12 {
		display: flex;
		padding: 2rem 4rem;
		h3 {
			font-family: "Montserrat-Light";
			font-weight: lighter;
			color: $orange;
			font-size: 3rem;
			width: 5rem;
			position: relative;
			top: -7px;
		}
		.column2 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			p {
				letter-spacing: .01em;
				font-size: 1.1rem;
				line-height: 26px;
			}
		}
	}
}

#footer {
	position: relative;
	padding: 1rem 0;
	padding-bottom: 3rem;
	background-color: #f5f5f5;
	.dropdown-item {
		&:active {
			background-color: #f5f5f5 !important;
		}
	}
	.footerCol1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.footer_logo {
			width: 13rem;
			margin-bottom: 3rem;
		}
		.rights {
			font-size: 14px;
			opacity: .52;
		}
		.dropdown {
			a {
				color: #333;
			}
			.flag {
				height: 1rem;
				position: relative;
				top: -1px;
				filter: brightness(0.2);
			}
			.arrow_down {
				height: 0.7rem;
				filter: brightness(0.2);
			}
		}
		#dropdownLang {
			&::after {
				display: none;
			}
		}
	}
	.footerCol2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 0.5rem;
		.footerLink {
			font-weight: bolder;
			color: #333;
			margin-bottom: 0.6rem;
			&:hover {
				color: $orange;
			}
		}
	}
	.footerCol3, .footerCol4 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 0.5rem;
		.footerLink {
			color: #333;
			margin-bottom: 0.6rem;
			&:hover {
				color: #333;
				font-weight: bolder;
			}
		}
	}
	.socials {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		img {
			height: 2.3rem;
			width: 2.3rem;
		}
		a {
			margin: 0.5rem;
			&:hover {
				filter: opacity(0.6);
			}
		}
	}
}

//site_explorer
#section1.site_explorer {
	padding-bottom: 15rem;
	height: auto;
	.main_content #laptop {
		display: none;
	}
}
#section2.site_explorer2 {
	margin-top: 4rem;
	padding-bottom: 13.5rem;
	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 101%;
		height: 255px;
		background: url(../img/wave4.png) no-repeat;
		background-size: 100%;
		background-position: bottom;
	}
	.se2 {
		margin: 2rem 0;
    	margin-bottom: 6rem;
		.s3_img {
			max-width: 100%;
		}
		p {
			max-width: 90%;
		}
		.leftblock {
			margin-left: auto;
			max-width: 90%;
		}
	}
}


//serp_explorer
#section1.serp_explorer {
	height: 870px;
	.submain {
		margin-top: 3rem;
	}
	.main_content #laptop {
		bottom: -29rem;
	}
}
#footer.serp_explorer {
	background-color: white;
	margin-top: 13rem;
}

//media

//min-width
@media only screen and (min-width: 1366px) {
	.navbar-nav {
		flex-direction: row;
		justify-content: center;
	}
	.navbar.navbar-light {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-flow: row nowrap;
		-webkit-box-pack: start;
		justify-content: flex-start;
		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}
		.navbar-toggler {
			display: none;
		}
		.navbar-nav {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			.nav-link {
				padding-right: 0.5rem;
    			padding-left: 0.5rem;
			}
			.dropdown-menu {
				position: absolute;
			}
		}
	}

}

//max-width
@media only screen and (max-width: 1600px) {
	#section5 #designCards {
		width: 90%;
	}
}

@media only screen and (max-width: 1366px) {
	.navbar.navbar-light .navbar-toggler-icon {
		background-image: url('../img/menu.png') !important;
	}
	.navbar.navbar-light {
		.navbar-nav {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			justify-content: center;
		}
	}
	#section3 {
		padding-left: 1.5rem;
	}
}

@media only screen and (max-width: 1199px) {
	#section3 h2 {
		position: relative;
    	left: 88px;
	}
	#section5 #designCards {
		height: 1150px;
	}
	#section2.site_explorer2 {
		padding-bottom: 9.5rem;
	}
}

@media only screen and (max-width: 992px) {
	.navbar.navbar-light .navbar-nav {
		flex-direction: column;
	}
	#section1 #navbarSupportedContent .auth {
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
	}
	#navbarSupportedContent {
		transition: all 0.3s ease-in-out;
		position: fixed;
		z-index: 1221;
		top: 4rem;
		min-width: auto;
		width: 19rem;
		height: 100vh;
		left: -19rem;
		overflow: scroll;
		min-height: 900px;
		padding: 3rem;
		padding-bottom: 6rem;
		background-color: #1a2b4c;
	}

	#section1 nav {
		position: fixed;
		top: 0;
		background: #1a2b4c;
		width: 100%;
		left: 0;
		padding: 1rem 3rem;
		z-index: 1221;
	}
	#section1 .main_content .search_block .search_lang {
		right: 171px;
    	left: auto;
		background-color: #ffffff;
	}
	#section2 {
		margin-top: 9rem;
		.tabs_s2 {
			width: 100%;
		}
		.container {
			max-width: 100%;
		}
		.s2_cont {
			padding: 5rem 1rem;
		}
	}
	#section3 {
		padding-bottom: 10rem;
	}
	#section3 h2 {
		position: relative;
		top: -60px;
		left: auto;
		span {
			color: #333;
		}
	}
	#section4 .s_numbers h3 {
		font-size: 2rem;
	}
	#section6 {
		padding: 0;
		.col-12 {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	#footer .footerCol1, #footer .footerCol2 {
		margin-bottom: 3rem;
	}
	#footer .footerLink {
		text-align: center;
	}
	#footer .footerCol1 {
		align-items: center;
	}
	#section1 .main_content #laptop {
		bottom: -31rem;
	}
	#section1.site_explorer {
		padding-bottom: 8rem
	}
	#section1.serp_explorer {
		height: 745px;
	}
}
@media only screen and (max-width: 767px) {
	#section1 {
		height: 850px;
	}
	#section1 .main_content #laptop {
		bottom: -23rem;
	}
	#section2 {
		margin-top: 5rem;
		.s2_cont .s3_img {
			margin-top: 1rem;
		}
		.s2_cont {
			padding: 2rem 1rem;
		}
	}
	#section1 .main_content .search_block .search_lang {
		right: 156px;
	}
	#section3 {
		padding-bottom: 8rem;
		.figure1 {
			margin-bottom: 10rem;
		}
	}
	#section5 #designCards {
		height: 2150px;
	}
	#section6 {
		padding-bottom: 6rem;
	}
	#section2 .s2_cont h3, #section2 .s2_cont p {
		width: 100%;
		text-align: center;
	}
	#section2 .s2_cont .col-12 {
		justify-content: center;
		display: flex;
		flex-direction: column;
		.main_button {
			margin: 0 auto;
    		margin-bottom: 1rem;
		}
	}
	#section2.site_explorer2 {
		margin-top: 1rem;
		.s3_img {
			margin: 0 auto;
			display: block;
		}
		h3 , p {
			text-align: center;
		}
		p {
			margin-bottom: 1rem;
			max-width: 100% !important;
		}
		.leftblock {
			max-width: 100% !important;
		}
	}
	#section2.site_explorer2 {
		padding-bottom: 3.5rem;
	}
	#section2.site_explorer2 .se2 {
		margin-bottom: 4rem;
	}
	#section1.serp_explorer .main_content #laptop {
		bottom: -22rem;
	}
	#section1.serp_explorer {
		height: 675px;
	}
}

@media only screen and (max-width: 575px) {
	#section1 {
		height: 690px;
		padding: 0 2rem;
	}
	#section1 .main_content .search_block .search_lang {
		right: 0px;
	}
	#section1 .main_content .main_caption {
    	width: 100%;
	}
	#section1 .main_content #laptop {
		display: none;
	}
	#section1 .main_content .search_block form {
		flex-direction: column;
	}
	#section1 .main_content .search_block #search_button {
		margin: 0;
		margin-top: 10px;
	}
	#section3 .figure1 .stat {
		color: #333;
	}
	#section3 .figure1 .tablestat .item p, #section3 .figure1 .tablestat_single .item p {
		color: #333;
	}
	#section3 .figure1 .tablestat .item h5, #section3 .figure1 .tablestat_single .item h5 {
		color: #333;
	}
	#section3 .figure1 .tablestat .item p i, #section3 .figure1 .tablestat_single .item p i {
		color: #333;
	}
	#section3 .figure1 .tablestat, #section3 .figure1 .tablestat_single, #section3 .figure1 .tablestat_single, #section3 .figure1 .stat {
		left: 0;
		top: 0;
		position: relative;
	}
	#section3 {
		padding-left: 0;
	}
	#section3 .figure1 {
		margin-bottom: 4rem;
	}
	#section3 .figure1 img {
		display: none;
	}
	#section4 .s_numbers h3 {
		font-size: 2.8rem;
	}
	#section1.serp_explorer {
		height: auto;
    	padding-bottom: 4rem;
	}
	#footer.serp_explorer {
		margin-top: 3rem;
	}

}

@media only screen and (max-width: 460px) {
	#section1 .main_content .main_caption {
		font-size: 2rem;
	}
	#section1 .main_content .submain {
		font-size: 1rem;
	}
	#section1 nav {
		padding: 1rem;
	}
	#section1 {
		padding: 0;
		height: auto;
	}
	#section1 .main_content .search_block {
		margin-bottom: 4rem;
	}
	#section2 {
		margin-top: 3rem;
	}
	#section2 .tabs_s2 .item_s2 {
		height: 10rem;
	}
	#section2::after {
		height: 72px;
	}
	#section3 {
		padding: 4rem 0;
		padding-bottom: 6rem;
		h2 {
			top: -30px;
			left: auto;
			padding: 0 15px;
		}
	}
	#section3 .whoCan_items .item {
		padding: 1rem 0;
	}
	#section4 .s_numbers {
		padding: 1rem;
	}
	#section5 .typePlans .buttonSlide, #section5 .typePlans .wrapperBtn {
		width: 50%;
		padding: 0.6rem 0;
	}
	#section5 .typePlans {
		width: 100%;
	}
	#section5 {
		padding: 2rem 0;
	}
	#section6 .col-12 {
		padding: 2rem 15px;
	}
	#section6 h2 {
		margin-bottom: 1.5rem;
	}
	#footer {
		padding: 2rem 0;
		padding-bottom: 3rem;
	}
	#section1.site_explorer {
		padding-bottom: 1rem;
	}
	#section1.serp_explorer .main_content .search_block {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 460px) {
	#section3 .figure1 {
		display: none;
	}
}