
html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	}
	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	ul {
		-webkit-padding-start: 0px;
		li {
			list-style: none;
		}
	}
	a {
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		&:hover {
			text-decoration: none;
		}
	}
	span {
		font-family: 'Open Sans', sans-serif;
	}
}


$dark: #292d37;
$yel: #ff9000;

.main_button {
	background-color: $yel;
	padding: 0.7rem 2rem;
	text-align: center;
	color: white;
	font-weight: 600;
	border-radius: 4px;
	display: inline-flex;
	transition: .2s;
	&:hover {
		background-color: #ec7f00;
		color: white;
	}
}


/*main*/ 
.main_section {
	display: flex;
	align-items: center;
	padding: 5rem 0;
	margin-bottom: 5rem;
	background-color: $dark;
	color: white;
	min-height: 70vh;
	.row {
		background-image: url(../img/art.jpg);
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		.subcaption {
			font-weight: normal;
			width: 70%;
		}
		.maincaption {
			width: 70%;
			margin: 3rem 0;
			font-size: 3rem;
			color: #e68d1a;
		}
		.bonuses {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			.item {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				margin-right: 2rem;
				img {
					padding: 1rem;
					border-radius: 50%;
					background-color: white;
					margin-right: 1rem;
				}
				.item_text {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					h5 {
						margin: 0.25rem 0;
					}
					.bonuses_text {
						margin: 0.25rem 0;
					}
				}
			}
		}
		.s1_buttons {
			margin: 2.5rem 0;
			margin-bottom: 1rem;
			.novisible_button {
				padding: 0.7rem 2rem;
				text-decoration: underline;
				color: #898d95;
				font-style: italic;
				font-size: 0.9rem;
				&:hover {
					text-decoration: underline;
					color: #898d95;
				}
			}
		}
	}
}

.section2, .section4 {
	display: flex;
	margin: 5rem 0;
	color: $dark;
	text-align: center;
	h2 {
		font-size: 2.25rem;
		border-bottom: 5px solid $yel;
		margin-bottom: 2rem;
	}
	p {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1.5rem;
	}
	.s1_buttons {
		margin: 2rem 0;
	}
}

.section3 {
	display: flex;
	margin: 5rem 0;
	color: $dark;
	.sec3_img {
		max-width: 100%;
		margin: 0 1.5rem;
	}
	.d-flex {
		justify-content: flex-end;
	}
	.checked_items {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		max-width: 50rem;
		img {
			margin-right: 1rem;
			height: 1.5rem;
		}
		h6 {
			font-weight: 600;
		}
	}
}
.section_social {
	margin: 3rem 0;
	.d-flex {
		justify-content: center;
		align-items: center;
		img {
			height: 2rem;
		}
		a {
			margin: 1rem 2rem;
		}
	}
}
.section5 {
	margin-bottom: 4rem;
	.jumbotron {
		background: url(../img/bg_offer_def.jpg);
		background-size: 200%;
		background-position: bottom center;
		background-repeat: no-repeat;
		padding: 2rem 4rem;
		color: white;
		h1 {
			font-weight: 600;
		}
		p {
			font-weight: normal;
		}		
	}
	.s1_buttons {
		margin-top: 1.5rem;
		margin-bottom: 1.8rem;
	}
}