<table data-module="module-67_81576" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#eceff3" data-bgcolor="Main BG" style="position: relative;opacity: 1;z-index: 0;top: 0px;left: 0px;background-color: rgb(255, 255, 255);max-width: 900px;">
		<tr>
			<td height="80">
			</td>
		</tr>
		<tr>
			<td align="center">
				<table class="zay-inner" width="90%" align="center" border="0" cellpadding="0" cellspacing="0" style="     max-width: 900px; ">
					<tr>
						<td>
							<table class="zay3-3" width="50%" align="left" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td valign="top" align="left">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="two-left" valign="top" align="center" width="320">
													<table align="left" width="156" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td style="line-height:0px;" align="left" valign="middle">
																<img class="zay3-3" style="display:block; font-size:0px; line-height:0px; border:0px;" src="{@images}/logo.png" alt="img" height="38" width="109" />
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td height="7">
									</td>
								</tr>
								<tr>
									<td data-color="Content" data-size="Content" align="left" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(163, 163, 163); line-height: 22.1px;">
										2018 © Company name. All rights reserved.
									</td>
								</tr>
								<tr>
									<td height="20">
									</td>
								</tr>
							</table>
							<!-- SPACE -->

							<!-- SPACE -->

							<table class="zay3-3" width="280px" align="right" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td data-color="Featurex1" data-size="Featurex1" align="left" style="font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; font-weight: 400; color: rgb(0, 0, 0); line-height: 27.2px;">
										We are social
									</td>
								</tr>
								<tr>
									<td height="15">
									</td>
								</tr>
								<tr>
									<td data-color="Content" data-size="Content" align="left" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(163, 163, 163); line-height: 22.1px;">
										 <a href="#" style="color: rgb(13, 13, 13); text-decoration: none">Facebook &nbsp; &nbsp; &nbsp;</a> <a href="#" style="color: rgb(13, 13, 13); text-decoration: none"">Twitter &nbsp; &nbsp; &nbsp;</a> <a href="#" style="color: rgb(13, 13, 13); text-decoration: none"">Behance &nbsp; &nbsp;</a> <a href="#" style="color: rgb(13, 13, 13); text-decoration: none"">Dribbble</a>
									</td>
								</tr>
								<tr>
									<td height="20">
									</td>
								</tr>
							</table>
							<!-- SPACE -->

						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td height="80">
			</td>
		</tr>
	</table>