<table data-module="module-54_95261" data-bgcolor="Background" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="rgb(249, 249, 249)" style="position: relative; opacity: 1; z-index: 0; max-width: 900px; top: 0px; left: 0px; background-color: rgb(249, 249, 249);">
		<tr>
			<td align="center">
				<table class="zay600" width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td height="80">
						</td>
					</tr>
					<tr>
						<td data-color="Date2" data-size="Date2" data-link-style="text-decoration:none; color:#3498db;" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(249, 59, 99); font-size: 27px; font-weight: 100;" align="left">
							Спасибо!
						</td>
					</tr>
					<tr>
						<td data-color="Seperator Title02" data-size="Seperator Title02" align="left" style="font-family: 'Open Sans', Arial, sans-serif;font-size: 37px;font-weight: 900;color: rgb(43, 45, 47);line-height: 22px;">{@user-name}</td>
					</tr>
					<tr>
						<td height="50">
						</td>
					</tr>
					<tr>
						<td align="center" style="background-color: rgb(249, 249, 249);">
							<table class="zay3-3" align="left" width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td align="center">
										<table class="zay3-3" width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
											<tr>
												<td>
													<table class="zay-inner" align="left" width="100%" border="0" cellspacing="0" cellpadding="0">
														<!-- title -->

														<tr>
															<td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link" data-color="Headline" data-size="Headline" align="left" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(160, 160, 160); font-size: 14px; font-weight: 100;line-height: 22.8px;">
																
																	Ваш заказ принят. В ближайшее время с Вами свяжется наш менеджер для уточнения данных.
																
															</td>
														</tr>
														<!-- end title -->

													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				<table class="zay600" width="80%" align="center" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td height="80">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>