@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
	font-size: 16px;
}

$red: #ed3434;


body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	ul {
		-webkit-padding-start: 0px;
		li {
			list-style: none;
		}
	}
	a {
		text-decoration: none;
		font-family: 'Roboto', sans-serif;
		color: #333;
		&:hover {
			color: #333;
			text-decoration: none;
		}
	}
	span {
		font-family: 'Roboto', sans-serif;
	}
	input {
		&:focus {
			outline: none;
		}
	}
}


.button_secondary {
	background-color: white;
	border: 1px solid #cacaca;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	padding: 0.4rem 1.8rem;
	padding-right: 3.2rem;
	position: relative;
	letter-spacing: .5px;
	transition: .3s;
	font-size: 14px;
	>div {
		background-color: $red;
		padding: 9px 11px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		position: absolute;
		right: -1px;
		top: -1px;
	}
	img {
		height: 17px;
		padding: 3px;
	}
	&:hover {
		color: $red;
		border: 1px solid $red;
	}
}
.button_main {
	background-color: $red;
	border: 1px solid $red;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	padding: 0.4rem 1.8rem;
	padding-right: 3.2rem;
	position: relative;
	letter-spacing: .5px;
	transition: .3s;
	color: white;
	font-size: 14px;
	>div {
		background-color: $red;
		padding: 9px 11px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		position: absolute;
		right: -1px;
		top: -1px;
		transition: .3s;
	}
	img {
		height: 17px;
		padding: 3px;
	}
	&:hover {
		color: white;
		background-color: #a11313;
		border: 1px solid #a11313;
		>div {
			background-color: #a11313;
		}
	}
}



section {
	background-color: #e8e8e8;
	min-height: 100vh;
	.mobile_header {
		display: none;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		padding: 1rem 2rem;
		background-color: #232323;
		a {
			background-color: transparent;
			border: 1px solid #959494;
			font-weight: bolder;
			text-transform: uppercase;
			text-align: center;
			border-radius: 20px;
			padding: 0.4rem 1.8rem;
			position: relative;
			letter-spacing: .5px;
			transition: .3s;
			color: white;
			font-size: 14px;
			img {
				height: 17px;
				padding: 3px;
				position: relative;
				top: -1px;
				margin-right: 5px;
			}
			&:hover {
				color: white;
			}
		}
	}
	.sidebar {
		background-color: white;
		box-shadow: 0 0 20px #959494;
		display: flex;
		flex-direction: column;
		width: 280px;
		min-height: 100vh;
		max-width: 100%;
		padding: 1rem;
		.item_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			background-color: #e6e6e6;
			padding: 0 1rem;
			h6 {
				font-weight: bolder;
				margin: 0.7rem 0;
				font-size: 0.9rem;
				text-transform: uppercase;
				letter-spacing: .9px;
				img {
					height: 1.3rem;
					top: -1px;
					position: relative;
					margin-right: 5px;
				}
			}
			>img {
				height: 10px;
			}
		}
		.sidebar__video {
			border-radius: 12px;
			margin: 1rem 0;
			border: 1px solid #e6e6e6;
			.sv_body {
				padding: 1rem;
				.form-group {
					margin-bottom: 0;
				}
				label span {/* <-- стилизируем новый */
					height: 13px;
					width: 13px;
					border: 1px solid gray;
					display: inline-block;
					position: relative;
					background-color:#FFF;
					border-radius:2px;
					padding:3px;
				}
				[type=checkbox]:checked + label span {
					background: $red url(../img/correct.png);
					border: 1px solid $red;
					background-position: center;
					background-size: cover;
				}
				input {
					display: none;
				}
				input:checked+label {
					color: $red;
				}
			}
		}
		.sidebar__themes {
			border-radius: 12px;
			border: 1px solid #e6e6e6;
			margin: 1rem 0;
			.st_body {
				padding: 1rem;
				.form-group {
					margin-bottom: 0;
				}
				input {
					position: absolute;
					z-index: -1;
					opacity: 0;
				}
				label {
					cursor: pointer;
				}
				input:checked+label {
					color: $red;
				}
			}
		}
	}
	.content {
		padding: 1rem 2rem;
		width: calc(100% - 300px);
		.content__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1rem;
			h2 {
				text-transform: uppercase;
				text-align: center;
				font-size: 1.7rem;
			}
			hr {
				display: none;
				width: 600px;
				max-width: 100%;
				margin: 1rem;
			}
			.header_right {
				margin-left: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				.grids {
					display: flex;
				}
				form {
					margin-right: 0.5rem;
					margin-left: 3rem;
					.form-group {
						position: relative;
						margin-bottom: 0;
						a {
							position: absolute;
							right: 0;
							top: 0;
							cursor: auto;
						}
						input {
							border: 0;

						}
					}
				}
				a {
					padding: 0 0.6rem
				}
			}
		}
		.content__body {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: stretch;
			.content__item {
				flex-basis: 29%;
				margin: 1rem;
				border-radius: 12px;
				border: 1px solid #959494;
				background-color: white;
				flex-direction: column;
				display: flex;
				.item_img {
					height: 19rem;
					width: 100%;
					border-top-right-radius: 12px;
					border-top-left-radius: 12px;
					background-position: center;
					background-size: cover;
				}
				.item_text {
					padding: 1rem;
					padding-top: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					min-height: 200px;
					height: auto;
					p {
						font-weight: bolder;
					}
					a {
						margin-top: auto;
					}
				}
			}
		}
		.content__body--list {
			.content__item {
				flex-direction: row;
    			flex-basis: 100%;
				.item_img {
					width: 20rem;
					max-width: 100%;
				}
				.item_text {
					align-items: flex-start;
					width: 300px;
				}
			}
		}
		
	}
}









//media

@media only screen and (max-width: 1199px) {
	section .content .content__body .content__item {
		flex-basis: 44%;
	}
	section .content .content__header hr {
		display: none;
	}
	section .content .content__header h2 {
		width: auto;
	}
}

@media only screen and (max-width: 992px) {
    section .sidebar {
		display: flex;
		position: fixed;
		left: -320px;
		z-index: 10;
		top: 0;
		transition: .3s;
	}
	section .content {
		width: 100%;
	}
	section .mobile_header {
		display: flex;

	}
	section .sidebar.sidebar-active {
		left: 0;
		top: 0;
	}
}

@media only screen and (max-width: 767px) {
    section .content .content__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			order: 3;
			font-size: 1.5rem;
			font-weight: bolder;
		}
		.header_right {
			margin-left: 0;
			flex-direction: column;
			width: 100%;
			form {
				margin: 0;
				padding: 1rem 0;
				width: 100%;
				input {
					width: 100%;
				}
			}
			.grids {
				margin: 1.5rem 0;
			}
		}
	}
	section .content .content__body .content__item {
		flex-basis: 100%;
	}
	section .content {
		padding: 1rem;
	}
	section .content .content__body .content__item .item_text {
		min-height: auto;
		a {
			margin-top: 1.5rem;
		}
	}
	section .content .content__body--list .content__item {
		max-width: 100% !important;
	}
}

@media only screen and (max-width: 575px) {
    
}

@media only screen and (max-width: 415px) {
    section .sidebar {
		width: 265px;
	}
}