@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');


#wrapper_calc {
	font-size: 16px !important;
	overflow: hidden !important;
	padding-bottom: 5rem;
	*, *::before, *::after {
    box-sizing: border-box !important;
	}
	.container {
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
		margin-left: auto !important;
		.row {
			display: -webkit-box !important;
			display: -ms-flexbox !important;
			display: flex !important;
			-ms-flex-wrap: wrap !important;
			flex-wrap: wrap !important;
			margin-right: -15px !important;
			margin-left: -15px !important;
		}
		.justify-content-center {
			justify-content: center !important;
		}
		.align-items-center {
			align-items: center !important;
		}
		.col-md-12, .col-md-6 {
			position: relative !important;
			width: 100% !important;
			min-height: 1px !important;
			padding-right: 15px !important;
			padding-left: 15px !important;
			
		}
		.mt-5, .my-5 {
			margin-top: 3rem !important;
		}
		label {
			display: inline-block !important;
			margin-bottom: .5rem !important;
		}
		input, button, select, optgroup, textarea {
			margin: 0 !important;
    	font-family: 'Open Sans', sans-serif !important;
		}
		button, input {
			overflow: visible !important;
		}
		.form-control {
			display: block !important;
			padding: 0.375rem 0.75rem !important;
			font-size: 1rem !important;
			height: 2rem !important;
			line-height: 1.5 !important;
			color: #495057 !important;
			background-color: #fff !important;
			background-clip: padding-box !important;
			border: 1px solid #ced4da !important;
			border-radius: 0.25rem !important;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
		}
	}
	input[type=number] {
    -moz-appearance: auto !important;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: auto !important;
    margin: 0;
}




	h1, h2, h3, h4, h5, h6 {
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
		font-family: 'Oswald', sans-serif !important;
		color: #3e3d3d !important;
	}
	h1 {
		font-size: 2.6rem !important;
	}
	h2 {
		font-size: 2.25rem !important;
	}
	h3 {
		font-size: 1.75rem !important;
	}
	h4 {
		font-size: 1.5rem !important;
	}
	h5 {
		font-size: 1.25rem !important;
	}
	h6 {
		font-size: 1rem !important;
	}
	p {
		font-family: 'Open Sans', sans-serif !important;
		font-size: 1rem;
		margin-top: 0.5rem !important;
		margin-bottom: 0.5rem !important;
	}
	ul {
		-webkit-padding-start: 0px;
		li {
			list-style: none;
		}
	}
	a {
		text-decoration: none !important;
		font-family: 'Oswald', sans-serif !important;
		&:hover {
			text-decoration: none !important;
		}
	}
	span {
		font-family: 'Open Sans', sans-serif !important;
	}

	.main_button {
			font-family: 'Oswald', sans-serif;
			font-weight: normal;
			color: #f7f7f7;
			background: #333333;
			padding: 5px 20px;
			height: auto;
			text-transform: uppercase;
		&:hover {
			color: #f9f9f9;
			background-color: #cc9833;
		}
		&:focus {
			outline: none;
		}
	}


	.mainh4 {
		text-align: center;
	}
	.warning {
		color: #dc3545;
		text-align: center;
		margin: 1rem 0;
		display: none;
	}
	.group-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1rem auto;
		label {
			margin-bottom: 0;
		}
		.p_absolute {
			position: absolute;
			left: 6.7rem;
			top: 0;
			width: 3rem;
		}
		.inpblock {
			display: flex;
			input {
				width: 6rem;
				margin-left: 10px;
			}
			p {
				margin-left: 5px;
			}
		}
		.tooltip1, .tooltip2 {
			background: #333333;
			color: #f7f7f7;
			padding: 2px 7px;
			border-radius: 50%;
			font-size: 11px;
			font-weight: bold;
			position: relative;
			display: inline-flex;
			.triangle {
				content: '';
				position: absolute;
				left: 10px;
				display: none;
				top: 15px;
				border: 8px solid transparent;
				border-bottom: 9px solid #333333;
			}
			.tooltip_container {
				background: #333333;
				position: absolute;
				display: none;
				z-index: 1;
				left: 0;
				top: 30px;
				color: #f7f7f7;
				padding: 0.5rem 1.5rem;
				padding-top: 1rem;
				border-radius: 4px;
				width: 15rem;
			}
		}
		.tooltip1 {
			&:hover .cont1 {
				display: flex;
			}
			&:hover .triangle {
				display: block;
			}
			p {
				font-size: 13px;
				font-weight: 400;
				margin: 1rem 0.5rem;
				width: 12rem;
			}
			.anim2 {
				position: absolute;
				left: 48px;
				bottom: 112px;
				height: 12rem;
				width: 14rem;
				z-index: 10;
			}
			.arrow1 {
				position: absolute;
				left: 13px;
				bottom: 159px;
				height: 5.2rem;
				z-index: 10;
				transition: .5s;
			}
			.cont1 {
				width: 20rem;
				height: 20rem;
				padding-top: 4.5rem;
			}
			.water1 {
				margin: 10px;
				width: 100%;
				height: 8rem;
				width: 35px;
				overflow: hidden;
				position: relative;
				border: 1px solid #7f7979;
				border-radius: 3px;
				box-shadow: 0 0 10px -5px #999;
				h6 {
					position: absolute;
					left: 50%;
					transform: translate(-50%,0);
					color: #f7f7f7;
					font-size: 1rem;
				}
				.span1 {
					display: block;
					animation: tb 5s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				  }
				  .one {
					animation: lr 40s !important;
					top: 25px !important;
					left: -30px !important;
					position: relative !important;
					animation-iteration-count: infinite !important;
					animation-direction: alternate !important;
					height: auto !important;
					max-width: 1024px !important;
    			max-width: fit-content !important;
				  }
				  .two {
					position: absolute !important;
					bottom: 0 !important;
					left: -30px !important;
					animation: lr 40s !important;
					animation-iteration-count: infinite !important;
					animation-direction: alternate-reverse !important;
					height: auto !important;
					max-width: 1024px !important;
    			max-width: fit-content !important;
					
				  }
				  
				  @keyframes lr {
					from {
					  transform: translateX(-60px);
					}
					to {
					  transform: translateX(-790px);
					}
				  }
				  
				  @keyframes tb {
					from {
					  transform: scaleY(0.75) translateY(10px);
					}
					to {
					  transform: scaleY(1) translateY(0);
					}
				}
			  }
			  p {
				font-size: 13px;
				font-weight: 400;
			  }
			  
		}
		.tooltip2 {
			&:hover .cont2 {
				display: flex;
			}
			&:hover .triangle {
				display: block;
			}
			p {
				font-size: 13px;
				font-weight: 400;
				margin: 1rem 0.5rem;
				width: 12rem;
			}
			.anim2 {
				position: absolute;
				left: 48px;
				bottom: 112px;
				height: 12rem;
				width: 14rem;
				z-index: 10;
			}
			.arrow {
				position: absolute;
				left: 57px;
				bottom: 256px;
				width: 7rem;
				z-index: 10;
				transition: .5s;
			}
			.cont2 {
				width: 20rem;
				height: 20rem;
				padding-top: 4.5rem;
			}
			.water2 {
				margin: 10px;
				width: 100%;
				height: 8rem;
				width: 35px;
				overflow: hidden;
				position: relative;
				border: 1px solid #7f7979;
				border-radius: 3px;
				box-shadow: 0 0 10px -5px #999;
				h6 {
					position: absolute;
					left: 50%;
					transform: translate(-50%,0);
					color: #f7f7f7;
					font-size: 1rem;
				}
				.span1 {
					display: block;
					animation: tb 5s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				  }
				  .one {
					animation: lr 40s !important;
					top: 25px !important;
					left: -30px !important;
					position: relative !important;
					animation-iteration-count: infinite !important;
					animation-direction: alternate !important;
					height: auto !important;
					max-width: 1024px !important;
    			max-width: fit-content !important;
					
				  }
				  .two {
					position: absolute !important;
					bottom: 0 !important;
					left: -30px !important;
					animation: lr 40s !important;
					animation-iteration-count: infinite !important;
					animation-direction: alternate-reverse !important;
					height: auto !important;
					max-width: 1024px !important;
    			max-width: fit-content !important;
					
				  }
				  
				  @keyframes lr {
					from {
					  transform: translateX(-60px);
					}
					to {
					  transform: translateX(-790px);
					}
				  }
				  
				  @keyframes tb {
					from {
					  transform: scaleY(0.75) translateY(10px);
					}
					to {
					  transform: scaleY(1) translateY(0);
					}
				}
			  }
		}
	}
	.result1, .result2 {
		margin-top: 1rem;
		display: inline-block;
	}
	label {
		font-family: 'Open Sans', sans-serif;
	}
}




@media only screen and (min-width: 576px) {
	#wrapper_calc .container {
		max-width: 540px;
	}
}
@media only screen and (min-width: 768px) {
	#wrapper_calc .container {
		max-width: 720px;
	}
	#wrapper_calc .col-md-12 {
		-webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	}
	#wrapper_calc .col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media only screen and (min-width: 992px) {
	#wrapper_calc .container {
		max-width: 960px;
	}
}
@media only screen and (min-width: 1200px) {
	#wrapper_calc .container {
    max-width: 1140px;
	}
}


@media only screen and (max-width: 767px) {
	#wrapper_calc .group-row .p_absolute {
		position: absolute;
    left: 1.5rem;
    top: 2rem;
    width: 3rem;
	}
}

